[2014-04-09 04:14] llnz opened #3 "django-environ not installable under python 3.3"
Running `pip install django-environ` in a python 3.3 (and other py3k) environment gives a syntax error:

[code]

The print statement is now a function, ie `print("{0}={1}".format(key, value))`

[2014-04-23 14:19] fcurella opened #4 "add `redis_url_config`"
It wuold be nice to have a method that works just like `db_url_config`, but for a `REDIS` setting. See https://github.com/dstufft/dj-redis-url

[2014-06-03 13:38] #4 closed, assigned to nobody

[2014-06-03 13:41] #3 closed, assigned to nobody

[2014-06-26 14:54] moimael opened #6 "Add LDAP DB url"
Hi,

I'm using django-ldapdb in my project, so I have to add an ldap db to my DATABASES var.

Do you think it would be possible for django-environ to support it ?

Thanks !

[2014-06-27 10:09] moimael opened #7 "EMAIL_URL example"
Hi,

It would be great to have an EMAIL_URL sample to see what syntax it accept, like for DATABASE_URL.

For example does it support username with an @ in it ?
Where do I put the smtp server + port ?

Thanks for this awesome project !

[2014-06-27 13:50] moimael opened #9 "Add external server"
Hi again,

In our Django project we make ssh connections and scp to external server.

Now they are configured like this:

SERVERS = {
    'asterisk': {
        'HOST': 'my_host',
        'PORT': '22',
        'LOGIN': 'login',
        'PASSWORD': 'password',
        'PKEY': '~/.ssh/id_rsa',
        'PKEY_SECRET': ''
    },
    'archive': {
        'HOST': 'host',
        'PORT': '22',
        'LOG

[2014-06-27 14:26] moimael opened #10 "Typo doc"
Hi,

In the documentation for the dict type, the prototype is this:

dict (BAR=key=val;foo=bar)

it should be this:

dict (BAR=key=val,foo=bar)

[2014-07-09 22:49] robvdl opened #11 "Need a celery url option"
It doesn't look like there is a celery url option, can we add one?

[2014-09-03 10:50] guglielmo opened #12 "DATABASE_UR postgresql alias: pgsql | psql"
Using `psql` instead of `pgsql`, as the postgresql alias in the `DATABASE_URL`::

[code]

results in the following error::

[code]

[2014-09-03 13:26] #12 closed, assigned to nobody

[2014-09-03 13:28] #6 closed, assigned to nobody

[2014-10-09 16:17] rouge8 opened #16 "0.3.1 missing from PyPI"
[PyPI only has 0.3.0](https://pypi.python.org/pypi/django-environ). Could you push up 0.3.1?

Also, if it's not too much trouble, could you add git tags for the releases?

[2014-11-22 00:28] crccheck opened #17 "environ should be able to infer casting type from the default"
If you have `DEBUG = env('DEBUG', default=False)`, having to also specify `env = environ.Env(DEBUG=(bool, False),)` seems redundant. For example, see http://tornado.readthedocs.org/en/latest/options.html#tornado.options.OptionParser.define

[2014-12-12 13:11] synotna opened #19 "read_env path"
When running read_env without providing a filename, it looks for .env in the current directory (i.e. /project/project/.env), when providing a filename it looks in the parent directory (i.e. /project/.env/)

Shouldn't the behaviour be the same in both cases?

[2014-12-19 21:47] kstaikov opened #21 "True/False values in dict env variables are assumed to be unicode"
Seems that you should be able to either cast specific key-value pairs in dictionaries, or at least recognize numeric or boolean values.  Currently FOO=x=True,y=False will translate too FOO['x'] = unicode(True) and FOO['y'] = unicode(False).

[2015-01-20 09:06] julianwachholz commented on #19
I think this is undefined behaviour. But you should use absolute paths anyway, don't you agree? ;)

[2015-01-26 09:28] synotna commented on #19
After re-reading the docs with a fresh mind, I see the behaviour is defined "If not given a path to a dotenv path, does filthy magic stack backtracking to find manage.py and then find the dotenv."

The change in behaviour from "load .env from the current directory" to "relative to manage.py" did not feel natural :)

Considered closed!

[2015-01-26 09:28] #19 closed

[2015-02-15 18:56] brki opened #24 "make a new PyPi release so that docs match behaviour"
On readthedocs, we see this example for the .env file:

[code]

But this doesn't work with the latest version available on PyPi.   Looks like 'psql' was introduced later ... pgsql, postgres, postgresql work, but not psql.

[2015-03-06 19:16] alexsilva opened #25 "Support section"
It would be great if the file '.env' had support sections. So I would not have to keep repeating the same prefix (ZENDESK), as in:

[code]

Sections

[code]

I did not see anything about it in the documentation, is there any solution to this ?

[2015-05-07 07:57] brki opened #28 "Is this being maintained?"
Hi,

just wondering if this is still being maintained.  I notice that there are some old pull requests and issues without comments.

[2015-05-09 15:00] julianwachholz commented on #28
Seems a bit stale now yeah :+1: I could volunteer as maintainer @joke2k ;)

[2015-05-11 09:36] joke2k commented on #28
yes... its still maintained.
thank you for your offer to help @julianwachholz

[2015-05-13 14:20] #28 closed

[2015-05-13 14:22] joke2k commented on #17
These options are alternatives, you can use the template mode initializing the Env with defaults and casting, or use the single one.

[2015-05-13 14:23] joke2k commented on #7
We have to add this to documentation

[2015-05-13 14:26] joke2k commented on #24
I'll fix this with new release soon

[2015-07-17 16:19] tarkatronic opened #32 "Support for django-redis"
In the CACHE_SCHEMES, both `redis` and `rediscache` map to `redis_cache.cache.RedisCache`, referring to django-redis-cache. For comparison sake, in the django-cache-url project, `redis` and `hiredis` both map to `django_redis.cache.RedisCache`, referring to django-redis.

Is there a reason that, in django-environ, one of these (or perhaps a new scheme) couldn't map to `django_redis.cache.RedisCach

[2015-08-08 21:16] robvdl opened #35 "env file cannot have space around equals sign"
I found out that I cannot do this in the .env file:

SOMEVAR = foo

but this works fine:

SOMEVAR=foo

is this by design? maybe a quick mention of this in the README because it confused me for a bit, I thought settings weren't being read, until I removed the spaces around the = sign.

[2015-08-11 03:39] pydanny commented on #25
How would this work in Django settings? Your wish simply doesn't work for Python.

[2015-08-13 08:59] pombredanne commented on #25
@alexsilva my 2 cents: it would make the reading of the .env file harder and less explicit.
There are times when repetition is not a problem IMHO.

[2015-09-16 23:31] ei-grad opened #39 "Python 2 broken by Python 3 compatibility commit"
[code]

[2015-09-21 09:21] #39 closed

[2015-09-21 21:32] edmorley commented on #16
@joke2k I don't suppose you could add 0.3.1 to PyPI?
Thanks :-)

[2015-09-22 12:02] joke2k commented on #16
@edmorley today is a release day for 0.3.1 keep in touch

[2015-09-22 12:06] joke2k commented on #16
Hi @edmorley today i will release a 0.4.0 and 0.3.1 versions on pypi.
Forgive me for being late.

[2015-09-22 21:32] edmorley commented on #16
That's great - thank you :-)

[2015-09-22 21:49] edmorley opened #44 "AttributeError: 'NoneType' object has no attribute 'find'"
Using current PyPI django-environ release (v0.3.0):
[code]

Expected:
It returns `None` like `env("BAR", default=None)` would.

[2015-09-23 16:01] #44 closed

[2015-09-23 16:02] joke2k commented on #32
merged in fef7824

[2015-09-23 21:27] edmorley commented on #44
Thank you :-)

[2015-10-01 19:40] letoss opened #47 "Create tuple of tuples."
Is there a way to create a tuple of tuples?
Example: (('user1', 'user1@mail.com'), ('user2', 'user2@mail.com'), )

I have the same problem trying to create a list of dicts.

[2015-10-01 20:28] joke2k commented on #16
Uploaded both on pypi.

[2015-10-01 20:28] #16 closed

[2015-10-22 13:04] edmorley opened #51 "Logger object name is the filepath rather than the module name"
From https://docs.python.org/2/library/logging.html#logger-objects :

Whereas at the moment, the logger object is instantiated using:
[code]

When using [logging_tree](http://rhodesmill.org/brandon/2012/logging_tree/) to inspect the available logging objects, this results in:
[code]

ie: The logger name is `/home/vagrant/venv/local/lib/python2.7/site-packages/environ/environ.pyc` rather than `envi

[2015-10-22 13:16] edmorley commented on #51
After the PR, the output from logging_tree becomes:
[code]

[2015-10-23 17:22] Arlefreak commented on #35
This is how you normally declare environment variables on bash

[2015-10-30 10:44] edmorley opened #53 "Provide wheel distribution on PyPI"
Please could you provide a wheel archive on PyPI alongside the standard package? http://pythonwheels.com/

Many thanks :-)

[2015-11-03 13:51] ydaniv opened #54 "Is it possible to use callables for casting?"
Examples:
- passing a string through gettext
- wrapping a value for lazy eval: `lambda s: s`
- converting to datetime or timedelta objects

etc..

[2015-11-03 13:55] ydaniv commented on #54
OK, just saw it in the source (:
worth mentioning in the docs though!
:+1:

[2015-11-03 13:55] #54 closed

[2015-11-12 16:45] rmartins90 commented on #47
+1

[2015-11-12 20:14] lisac opened #55 "db_url does not handle '#' in password?"
I'm trying to configure a database password that happens to contain a `#`. Is that character not supported in this package's processing of the database url? When I alter the `test_postgres_parsing` in [test.py](https://github.com/joke2k/django-environ/blob/develop/environ/test.py#L237) so that the password contains that character, eg `wegauwhgeuioweg` --> `weg#auwhgeuioweg`, the test encounters th

[2015-11-18 18:08] edmorley opened #56 "Unspecified database properties default to `None` rather than the empty string"
Using django-environ v0.4.0 on Python v2.7.10.

**STR:**
[code]
(Travis' MySQL setup has no password, hence the `DATABASE_URL` value above.)

**Expected:**
[code]
...or else:
[code]
Django has defaults for those properties - which are the empty string: [docs](https://docs.djangoproject.com/en/1.8/ref/settings/#password)

**Actual:**
[code]

[2015-11-18 18:09] edmorley commented on #56
Compare to the dj-database-url output:
[code]

[2015-11-18 19:10] edmorley commented on #56
Looks like we need the equivalent of https://github.com/kennethreitz/dj-database-url/pull/10 - I'll open a PR.

[2015-11-23 11:07] tiagofmc commented on #47
+1

[2015-12-03 11:48] tiany opened #58 "How to make django-environ work with uwsgi emperor?"
I use this project with my django projection, deployed by uwsgi(emperor mode) + nginx, it worked well, thanks for your working, but when i touch the uwsgi config file, the env vars will **not** reload, for now, i can send signal 3 to the process which served my django app,, is there any good ways to make this done?

(sorry for my poor english...

[2015-12-07 07:30] vchrisb opened #59 "filter/override query urls for db_url_config database "OPTIONS""
I'm trying to use `django-environ` in my project that will run in a PaaS offering (Cloud Foundry)
The `DATABASE_URL` is automatically populated with something similar to this:
`mysql://123456:123456@us-cdbr-iron-east-03.cleardb.net:3306/ad_123456?reconnect=true`

django-environ does take the query string `reconnect=true` and populates database `OPTIONS` with `reconnect=true`.
My problem is, that t

[2015-12-23 18:32] chromakey opened #60 "Environment variables starting with $ cause a recursion error"
This SECRET_KEY declaration causes a maximum recursion depth exceeded error. (Note: I never used this secret key value anywhere since I was just starting the project)

[code]

Results in:

[code]

This however, causes no error:

[code]

Obviously not a blocker for me on anything, but thought I'd let you know.  Thanks!

[2015-12-24 17:01] #51 closed

[2015-12-24 17:12] joke2k commented on #60
Thank you for reporting.
I do not know how to fix this without disabling the dollar, do you have any ideas?

[2015-12-24 17:20] joke2k commented on #53
Absolutely yes.
The next release will come out with wheel support ;)

[2015-12-24 17:22] joke2k commented on #35
Yeah @robvdl this is the way to declare variables in .env file.
It is a convention, maybe I've to write about in README file.

Thank you anyway

[2015-12-24 17:25] joke2k commented on #25
I agree with @pydanny and @pombredanne
Thank you for question anyway

[2015-12-24 17:25] #25 closed

[2015-12-24 17:28] joke2k commented on #21
You have to define which casts the dict values has.
See the example in #23

[2015-12-24 17:36] robvdl commented on #35
Thought this was closed already, closing it now..

[2015-12-24 17:36] #35 closed

[2015-12-24 18:05] chromakey commented on #60
Not sure.  I just started using this library, so I'll dive into the code this weekend and see if I can come up with a PR.

[2015-12-24 19:35] joke2k commented on #60
Wonderful, thank you again.

..and merry christmas

[2015-12-25 16:52] #56 closed

[2015-12-25 16:59] joke2k commented on #59
Actually we can add `RECONNECT` to `Env._DB_BASE_OPTION` but there is another problem, the value `true` isn't casted as boolean, couse `_case_int()` don't handle that.

[2015-12-25 17:06] joke2k commented on #58
Hi @tiany don't worry about your english, mine seems worse than your ;)

About your question, i'm using uwsgi too and when i touch con uwsgi file the environment variables is correctly reloaded.
Can you post more information like where do you use `Env.read_env()` and which variables do you want to load?

[2015-12-25 17:27] joke2k commented on #55
Some characters must be encoded to avoid beaking the url parsing.
See #48

[2015-12-25 17:43] joke2k commented on #32
Hi, please check my PR to resolve this question.

Thank you for reporting... honestly, I didn't think there were more libraries that support redis in django.

[2015-12-25 17:48] aldarund opened #62 "Cache url for redis provide wrong LOCATION params."
I have following env var.
CACHE_URL=rediscache://broker:6379
Which is expanded by environ to following:
{'default': {'BACKEND': 'django_redis.cache.RedisCache',
  'LOCATION': 'broker:6379'}}

But its incorrect.
django redis  will give following error with this:
ConnectionError: Error 111 connecting to None:6379. Connection refused.

And if we look into django redis docks we will see following:
htt

[2015-12-25 17:57] joke2k commented on #47
No, but you can use the json parser insted.
The problem is on these lines https://github.com/joke2k/django-environ/blob/develop/environ/environ.py#L289

[2015-12-25 18:36] joke2k commented on #11
It seems just an url, so we can parse with `url('BROKER_URL')`.
Why do you need to parse it? To check the protocol `amqp://` ?

[2015-12-25 18:58] joke2k commented on #10
The `;` is used only for nested dicts.
This functionality will be deprecated becouse we cannot define a data structure only with python types.

[2015-12-25 18:58] #10 closed

[2015-12-25 19:02] joke2k commented on #9
You can handle this with `env.url('ssh://host:port?pkey=...')` and then use the resulted dict to populate your package configuration.

[2015-12-25 19:02] #9 closed

[2015-12-25 19:09] joke2k commented on #7
See #48 for the @ character.

[2015-12-25 19:09] #7 closed

[2015-12-25 19:20] joke2k commented on #62
I'm preparing a PR for fix redis support at #61
Probably we can fix just for the first two url formats, for the third one, `unix://` i can't detect which cache system is used.

[2015-12-28 18:51] joke2k commented on #62
Ok the branch is ready.
Can you test if it works?

https://github.com/joke2k/django-environ/tree/redis-support

[2015-12-28 20:18] sirex opened #65 "Initialize .env with generated secret"

[2015-12-28 20:41] sirex opened #66 "Why read_env reads everything to os.environ?"
It looks quite suspicious that everything is read into global variable `environ.Env.ENVIRON` and even worse, `environ.Env.ENVIRON` points to `os.eviron`.

For global variables, if I will instantiate `environ.Env` two times, I would expect to get two independent environments, but currently, I will have two class instances operating on same global environment.

Is there a good reason for this?

[2015-12-29 11:35] aldarund commented on #62
Not working.
Here is stacktrace if i just launch project that was working on master( although without redis cache).
Now it just produce error on start.
[code]
And if i just launch python console and try to import environ following error:
[code]

[2015-12-29 13:06] joke2k commented on #62
Can you try again?

[2015-12-29 13:54] aldarund commented on #62
now it works for me

[2015-12-29 14:10] joke2k commented on #62
Ok, Ill'merge soon

[2015-12-29 14:11] #62 closed

[2015-12-29 14:24] joke2k commented on #66
The main reason is that this package helps you to interact with `os.environ`,
loading values (from .env file) and parsing them.
You are right when say that two instances of `environ.Env` not produce two different environments, but it is by design.

An evolution of this package can support it, loading values from a cascade list of sources, producing different environments replacing the use of `os.e

[2015-12-29 15:48] sirex commented on #66
@joke2k thank you for explanation. It looked suspicious at first because `environ.Env` does not looked like a wrapper around `os.environ`, I assumed, that this is some kind of internal environment for configuration variables, that takes values from both `os.environ` and `.env` file.

Saving everything to `os.environ` seems dangerous, because it can easily effect whole behaviour of python by overri

[2015-12-29 18:07] joke2k commented on #66
There is only one case in which django-environ put some data into `os.environ`,
when you run [`environ.Env.read_env()`](https://github.com/joke2k/django-environ/blob/develop/environ/environ.py#L625).
In that case the security problem is related to the security on `.env` file.

I don't know if there are more secure way to pass some data to django settings, but i read a lot of articles that use envi

[2015-12-29 19:17] sirex commented on #66
Sure, environment variables are really convenient way to pass configuration options between processes. But once configuration value gets into a process, then inside process itself there is no need to expose them as environment variables, unless you need it for some reason.

My point is, that it is really good to be able to override configuration values with environment variables, but not store eve

[2015-12-29 19:17] #66 closed

[2015-12-29 19:39] joke2k commented on #66
The security is a myth :smile:

I've checked all my servers to see permissions of `/proc/<pid>/environ` and they are only-read for process owner, like my `.env` file. :sweat_smile:

Anyway, Thank you for questions.

[2015-12-30 05:55] vaibhav-jain opened #67 "How to get HOME dir path"
I want to get HOME DIR path in my settings file `expanduser` works but as I am using `django-environ` now can you tell me how to do that using the same.

When I tried : 'environ.Path('/')  and environ.Path('~')' But no luck.

[2015-12-30 06:18] vaibhav-jain commented on #67
My bad It is working  `environ.Path("")`

[2015-12-30 06:18] #67 closed

[2015-12-30 18:02] edmorley commented on #53
Sounds good - thank you :-)

[2016-01-06 07:59] brianmay opened #70 "django-environ/environ/test_env.txt not in pypi source"
Please include
django-environ/environ/test_env.txt in the PyPI source so the tests will work.

Thanks!

[2016-01-18 10:46] edmorley opened #72 "Support setting the OPTIONS SSL dict via the query string for MySQL"
When using django-environ with MySQL RDS, the absolute path to the certificate bundle has to be set manually like so:

[code]

...since it's not possible to specify a dict via django-environ's query string option feature.

I see two ways this could be supported:
1) Try to `json.loads()` the value for each key specified in the query string.
2) Add an alias for the ssl ca setting specifically (eg `m

[2016-01-18 11:25] edmorley commented on #60
Another option would be to deprecate the current proxied value syntax `$FOO` and switch to something like `${FOO}` which is much less likely to result in false positives when using random password generators.

[2016-01-19 09:49] jgadelange opened #74 "EMAIL_USE_TLS and EMAIL_USE_SSL have no default value"
My config broke when upgrading to version 0.4.0 because I had `EMAIL_USE_TLS = email_config['EMAIL_USE_TLS']` in my settings file and that key does not exist when no tls is defined.

I think this should default to `False`, as wel as the `EMAIL_USE_SSL` entry.

Otherwise it would be a good idea to document how to use the `email_url` in your settings.

[2016-01-27 09:20] lenarother opened #75 "Cannot parse a list of tuples"
Hi @joke2k ,

thanks for an awesome project!

I was looking for a way to get a list of tuples parsed e.g.
[('Bar', 'Bar'), ('Foo', 'Foo')]

This is as close as I can get:

[code]

Any tips how to deal with this?

Thanks,
Lena

[2016-01-30 15:34] musicformellons opened #76 "does not load env variables from the .env file"
I have an  .env file (in same folder as manage.py) with:
DJANGO_DEBUG=False
DATABASE_URL=postgres://user:pw@127.0.0.1:5432/dbname
POSTGRES_PASSWORD=pw
POSTGRES_USER=user
DJANGO_ADMIN_URL=r'^admin/'
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=7878078078078907890789087etc
DJANGO_ALLOWED_HOSTS=email.com
DJANGO_SERVER_EMAIL=info@email.com
DJANGO_SECURE_SSL_REDIRECT=False

But w

[2016-01-31 11:43] musicformellons commented on #76
Solved it. The .env needs to be in the same folder as the settings files, not the manage.py file. Confusing as in the the Django Cookiecutter the env.example file is in the manage.py folder...

[2016-01-31 11:43] #76 closed

[2016-02-10 12:17] jorrit-wehelp commented on #75
Also see #47
It mentions that you could use the json type, but there's no tuple-like type in JSON. So you would get a list of lists.
But if the format of your environment variable is fixed and out of your control, you could write a custom function to parse this and pass it to the cast= parameter.

[2016-02-24 03:31] jordanmkoncz opened #78 "ImproperlyConfigured exception when running django-admin.py flush"
When running the command `django-admin.py flush` I get the following error:

[code]

In `project_directory/settings.py` I have:

[code]

In `root_directory/.env` I have:

[code]

I can run other `django-admin.py` commands without any issues (e.g. `django-admin.py startapp test_app`), and I can also run `manage.py` commands without any issues (e.g. `python manage.py createsuperuser`). It seems to b

[2016-02-24 03:35] jordanmkoncz commented on #78
There is a closed issue (https://github.com/joke2k/django-environ/issues/76) that seems to be a similar problem to mine, so I tried the solution from this issue of moving `root_directory/.env` to `project_directory.env` and updating my `project_directory/settings.py` accordingly to load the `.env` file from the new location. Unfortunately this didn't seem to have any effect.

[2016-02-24 03:40] jordanmkoncz commented on #78
After further research it seems like this problem probably has nothing to do with django-environ and is an issue with PyCharm's environment variables not working correctly for whatever reason, causing `django-admin.py` to not know what settings module to use.

I got around the issue by just doing `python manage.py flush` instead.

[2016-02-28 19:26] gopar commented on #58
Had something similar @tiany

What was happening to me was that environ was looking for the file in a different directory other than the project. This is how  I fixed it.

[code]

[2016-02-29 09:39] tiany commented on #58
@gopar so your problem is when you start your project, no variable is loaded? I think mine is a little different, it can load all variables, but when i changed the env file and touch uwsgi.ini, uwsgi worker process restarted but all env variables is still the old ones.

@joke2k i wrote the Env.read_env in my project settings.py, env file was putted in the project root directory.

the process is li

[2016-03-17 14:56] oppianmatt opened #79 "using default with proxied values leads to recursion"
similar to https://github.com/joke2k/django-environ/issues/60 except I want to use a proxied value.

example:

[code]

I want to set `local` to be the same default if the environment isn't set. If I get it a default value it won't use the same one as DATABASE_URL

[code]

[2016-03-17 15:00] oppianmatt commented on #79
Note if trying this way I get unhashable dict:

[code]

[2016-03-22 12:50] rubendura opened #81 "Can't set CONN_MAX_AGE to None"
When setting DATABASE_URL to something like `postgres://posgres@db:5432/postgres?conn_max_age=None` the end result is:

[code]

Where CONN_MAX_AGE has an invalid value: it has to be set to either a float or None, but django-environ returns a str.

[2016-03-31 08:09] mwaaas opened #82 "support for inheritance in env"
support such that I have multiple environment files,
- base
- development
- staging
- production

base to have common variables
and the rest to have specific variables and also have all base variables and can also override base variable

[2016-04-17 10:36] brianmay opened #84 "tests fail with Python 3.5"
[code]

[2016-04-17 10:50] brianmay commented on #84
Looks like the problem is from ./environ/test_env.txt:

[code]

The ф character is non-ascii.

Later: Oh. I see. To run the tests we have to select a UTF8 locale in LANG first. e.g. C.UTF-8 works fine.

I am undecided if this is a bug or or not. If you feel it isn't a bug, suggest you document this requirement somewhere and close the bug.

[2016-05-27 17:20] QasimK commented on #58
@joke2k I have encountered the same issue as @tiany: touching the `.ini` file will not load the new values if the variables have been altered in my `.env` file

[2016-06-13 02:17] raccoonyy opened #86 "error of collectstatic for AttributeError: 'Path' object has no attribute 'startswith'"
Question: Why I have to use `root` property of `Path` instance?

### 1. First try

[code]

then, run `collectstatic` command print out:

[code]

when I print out `STATICFILES_DIRS`

[code]

**not `path` strings but `Path` instaces.**

### 2. so I tried `root` property

[code]

then, run `collectstatic` will be:

[code]

### 3. I used `root` property to `MEDIA_ROOT` too.

[code]

then, `collectstat

[2016-06-20 08:22] raccoonyy commented on #86
I solved this problem by `str(root.path('path'))` instead of `root.path('path').root`

[2016-06-20 08:22] #86 closed

[2016-06-21 19:58] oppianmatt opened #87 "support lower case options"
Some backends use lowercase options. For example https://github.com/django-pylibmc/django-pylibmc

[code]

So I create a protocol on the fly like so in settings:

[code]

and set my environment like so:

[code]

But it get's converted to uppercase like so:

[code]

[2016-07-07 14:38] edmorley opened #88 "Improve documentation for read_env()"
The readme briefly mentions `read_env()`, however it wasn't until reading the source that the following became apparent:
* that the values read in from the `.env` file are overridden by any that already existed in the environment (I think this is handy, but isn't immediately obvious)
* that `read_env()` also takes an overrides list
* that `read_env()` updates `os.environ` directly, rather than jus

[2016-07-07 15:24] edmorley opened #89 "Add documentation for proxied values"
With django-environ it's possible to have one environment variable refer to another, using this syntax:

[code]

(Heroku escapes the environment variables, and so they are not expanded in `os.environ`, so this support from django-environ is very handy)

It would be good to document this feature in the readme :-)

[2016-07-11 11:50] Duologic commented on #84
I have a similar issue with an UTF-8 character in my environment.

[code]

We could do something like this:
[code]

This should work on Python 2.7, not sure how this all goes for other Python versions.

Currently I avoid django-environ where I think UTF-8 chars will pop up and simply do this: `unicode(os.environ[var], 'utf8')`

[2016-07-13 08:27] brianmay commented on #84
@Duologic My understanding is that this shouldn't be a problem if your locale is configured correctly. If you want to put UTF8 in your environment you really should have a UTF8 locale selected.

e.g.

[code]

My bug report was specifically referring to the tests, and that it is somewhat unusual to have to select a UTF8 local in order to run the tests. IIRC this isn't documented anywhere.

[2016-07-13 08:59] Duologic commented on #84
I'll create a new issue to discuss my case then.
On Jul 13, 2016 10:27 AM, "Brian May" <notifications@github.com> wrote:

[2016-07-22 18:25] jcushman opened #90 "RFC -- import all DJANGO__* variables from environment"
Hi! I have a new package I'm thinking of releasing, but that could also make sense to just fold into django-environ if you want it. I'd love to get your thoughts.

The basic idea is, instead of explicitly having to add `DEBUG = env('DEBUG')` to your `settings.py` file, you keep it as `DEBUG = False`. Then set `DJANGO__bool__DEBUG=True` in the environment and the setting gets picked up automaticall

[2016-07-26 06:11] IlyaSemenov commented on #60
The recursive variable expansion that is currently in use needs to be documented at the very least! I was just hit by the same problem. The worst thing that it is **silenced** if the default is provided.

Consider the following example:

[code]

1) This is very counter-intuitive behaviour.
2) I don't think there is a way to actually provide that value via the environment variable.

[2016-07-28 09:46] beruic opened #91 "Inline comments does not work"
If you put

[code]

in your `.env` file, the `# Comment` part is included in the value for `VARIABLE`, so its value becomes `SomeValue # Comment`.

[2016-07-28 10:08] beruic commented on #90
I'm not completely convinced this should be included in Django-environ. The strength of Django-environ is that it is very visible what you configure from environment variables, and what default values are.

### My comments to the feature in general
Overriding existing values like this, makes it easy to overlook what is going on. It would be easy for a new developer to get confused by why settings

[2016-07-28 14:15] jcushman commented on #90
Thanks for your comments, beruic!

A first release of the package is now on PyPI: https://pypi.python.org/pypi/django-env-overrides

An offline conversation convinced me that you're right, this doesn't make sense in django-environ -- it's easy to misuse, and better to encourage people to be explicit where possible. But it's still a very handy add-on for interactive debugging of deployed code. Thin

[2016-08-11 16:07] jensneuhaus commented on #72
Thanks for pointing this out, it helped me.

As a reference for others: This is not working with Amazon RDS for PostgreSQL. I had to use dj_database_url instead.

[2016-08-16 05:16] ad-m opened #92 "MySQL strict mode"
Hello,

Django 1.10 introduces:

[code]

It looks unsupported in django-environ unfortunately.

Greetings,

[2016-08-19 14:19] edmorley commented on #92
The best place to enable strict mode is in your MySQL server config (whether that be the .cnf file for self-hosted, or via eg the Amazon RDS parameter groups).

Enabling it via the Django DB config is a workaround at best IMO.

[2016-08-26 14:49] edmorley commented on #92
It's worth also noting that strict mode is enabled by default for all of:
* mysql-server >=5.7.5
* Amazon RDS's default.mysql5.6 profile
* mysql-server-5.6 if obtained from mysql.com and not via a distro package

For more details, see:
http://dev.mysql.com/doc/refman/5.6/en/server-system-variables.html#sysvar_sql_mode
http://dev.mysql.com/doc/refman/5.6/en/sql-mode.html#sql-mode-strict
http://dev.

[2016-08-26 18:00] ad-m commented on #92
I think exists environment where is no way to manage MySQL server config eg. service like Heroku, but with MySQL database rather than PostgreSQL . Example from Poland it is mydevil.net, megiteam.pl which support MySQL & Django. This settings has impact on whole SQL server, so it can break other apps on shared SQL server shared by a few small application. In some it need to be configured on connect

[2016-09-07 15:09] daimon99 commented on #86
I think you still use path the wrong way.
You should use like this:
[code]
but not
[code]
When you need a str object, you should use `root('sub path')`, when you wanta a Path object to chain it, you should use `root.path('sub path')`

[2016-09-09 11:10] raccoonyy commented on #86
wow!

Thanks for your reply.

You are correct.

[2016-09-12 15:17] vanflymen opened #94 "Documentation of Usage is Poor"
It would be great for the documentation to clarify best practice usage, for example, it's unclear whether I should be importing variables from settings or not in a module or directly importing from Environ:

[code]

For a tool born out of best-practices, it would be great if we could clean up the documentation with some use cases.

[2016-09-18 10:39] steinliber opened #95 "use redis in django-environ problem"
When use django-environ for redis，i meet a problem.the code for redis is

[code]

and the problem is

[code]

The doc doesn't say about redis db set, Can anyone help

[2016-10-13 16:29] jgoclawski commented on #95
`django-environ` 0.4 won't work with `django-redis` 4.5.0 (niwinz/django-redis#220). It also affects `django-cache-url` (ghickman/django-cache-url#29)
I think the issue might be fixed on master with #61.
It would be great to have a new release on PyPi with this fix.

[2016-10-19 13:15] AndreaCrotti opened #96 "Collation and charset?"
Is there a way to define the DB url in such a way that also the COLLATION and CHARSET would get set as below?

[code]
thanks a lot!

[2016-10-20 16:19] tamj0rd2 commented on #76
@musicformellons Would you mind sharing what your settings.py looks like? I'm having this issue and can't work it out

[2016-10-23 23:53] eli-pavlov opened #97 "DATABASE_URL parser not work properly"
If inside DATABASE_URL user password start with "# " character, then parser will build incorrect dict:

[code]

res:

[code]

python 2.7.6

[2016-11-02 03:21] romerotron commented on #97
looks like it happens if a '#' is anywhere in the password FWIW

[2016-11-03 14:43] hernantz commented on #47
@letoss for that particular example, you could use https://docs.python.org/2/library/email.util.html#email.utils.parseaddr to parse a single tuple of email addresses as strings. I.e: `('John Jones <john@jones.com>', 'foo <bar@baz.com>')`

[2016-11-13 19:06] joke2k commented on #97
Hi, there was some trouble with unquoted characters into parsed url string.
I do a commit and i'll release a new version (finally) to fix that.
Make sure to encode your url parts with `urllib.parse.encode` before set your string into `.env` file:
[code]

See #69 for more informations.

[2016-11-13 19:06] #97 closed

[2016-11-13 19:19] joke2k commented on #55
Fixed with #69
thank you

[2016-11-13 19:19] #55 closed

[2016-11-20 09:32] avrahamshukron opened #98 "Variable values that starts with "$" are always treated as a reference"
If you have something like:
`SECRET_KEY=$R3OHmJvC2Gi(5JaOMDTtO9-7#`
in your local.env file (I actually used this randomly generated key), then when loading the environment you'll get an error:
`django.core.exceptions.ImproperlyConfigured: Set the R3OHmJvC2Gi(5JaOMDTtO9-7# environment variable`

Notice how the "$" is missing from the exception message.
This is probably due to the "resolve proxied v

[2016-11-20 19:15] metakermit commented on #76
I was having some problems with this too, but after specifying in *settings.py* the absolute path to where I keep my `.env` file (next to *manage.py*), running all the `manage.py` commands works.

    base = environ.Path(__file__) - 2 # two folders back (/a/b/ - 2 = /)
    environ.Env.read_env(env_file=base('.env')) # reading .env file

[2016-11-26 22:39] bittner commented on #82
@mwaaas Sounds like you're looking  for [django-configurations](https://github.com/jazzband/django-configurations/#django-configurations).

If you keep everything that is not confidential in the source code, and _only_ put _confidential_ stuff into the environment (i.e. `.env` file), will you still need multiple environment files?

.env is not source code (keep it small!)
------------------

As I

[2016-11-26 23:53] bittner commented on #88
Also, the documentation mentions a "[filthy magic stack backtracking](https://github.com/joke2k/django-environ/blob/develop/environ/environ.py#L595)" in order to "find manage.py and then find the dotenv".

It should be specified more in detail what this means. When you have a two-level hierarchy then the `.env` file is not found, at the moment. It's yet to be discussed whether this is by design or

[2016-11-28 17:02] glarrain opened #99 "docs: where did `vars()` come from?"
In the README, email settings:

[code]

Where did that `vars()` come from? I have not found any reference to it, either in the README, the docs, or [in the repo](https://github.com/joke2k/django-environ/search?q=vars).

[2016-11-28 21:02] joke2k commented on #99
You can find some references here:
https://docs.python.org/3/library/functions.html#vars

[2016-11-29 11:13] #99 closed

[2016-11-29 15:45] glarrain commented on #99
Whoops, sorry.
(After 6 years of programming in Python I got bit by built-in function. Perhaps it has to do with my dislike of implicit assignments and global variables...)

[2016-12-02 09:39] getup8 opened #100 "How do you set CONN_MAX_AGE?"
There's no mention of it in the docs, so curious how one would set this using env vars.  Also wondering if there's an easy way to set it when deploying to something like Heroku.

[2016-12-02 10:19] getup8 commented on #100
Sorry, answered my own question:

`export DATABASE_URL='psql:///testdbname?conn_max_age=60'`

And on Heroku, something like this work:

[code]

[2016-12-02 10:19] #100 closed

[2016-12-05 23:09] valentjedi opened #101 "django-environ 0.4.1 and django-redis"
Hey, just found out that django-redis won't work with new `0.4.1` version. Here's the traceback:

[code]

works good with django-environ==0.4.0 though.

[2016-12-13 00:22] brianmay opened #102 "usage with pytest unclear"
Not sure how to best use this with pytest. Ideally would like to be able to execute some code to setup the environment (e.g. read_env a specific file used for tests) to a known state before importing common config file, however this doesn't appear to be possible. Should be possible for a user to run "pytest" and have all tests pass without having to setup environment variables first.

[2016-12-20 12:13] max-arnold commented on #58
@joke2k I have the same issue with v0.4.0. It looks like logical consequence of the following design decisions:

1. Environment is kept in os.environ (and not in Env instance state)
2. There are multiple levels of inheritance: https://github.com/joke2k/django-environ/issues/88
3. Inheritance is handled via https://docs.python.org/3/library/stdtypes.html#dict.setdefault, which won't touch any value

[2016-12-20 12:14] vdboor commented on #96
Same question here (for an external project). Looking at the source of `db_url_config`, it's not yet possible but it can be fixed. The `STORAGE_ENGINE`, `COLLATION` and `CHARSET` should be added to `_DB_BASE_OPTIONS` we we can write:

`mysql://user:pass@localhost/django2?STORAGE_ENGINE=INNODB&COLLATION=utf8-general_ci&init_comment=SET storage_engine=INNODB`

[2017-01-03 15:08] bmoelans opened #103 "can not override environment settings that already have value with a file"
I have
[code]

Problem is that in my ENV_FILE, I want to set `DATABASE_URL` that already has a value when reading the ENV_FILE.

But because `def read_env(env_file=None, **overrides)` uses `setdefault(key, str(val))` this value can not be overwritten.

Is it possible to extend `def read_env` with an extra boolean argument to decide whether or not to override existing environment variables?

[2017-01-05 11:24] steinliber opened #104 "Make env.db configable"
I want tot use env.db with django_postgrespool,but i can't set it directly in url, so i have to set this in dictory, is there any way to config this more elegant. Here is my setting
`
default_db = env.db('DATABASE_URL')
default_db['ENGINE'] = 'django_postgrespool'
DATABASES['default'] = default_db
`

[2017-01-10 04:24] max-arnold commented on #58
Also this http://stackoverflow.com/questions/15619953/django-uwsgi-in-emperor-mode-how-to-reload-wsgi-py-of-a-project

[2017-01-11 00:16] dmwyatt opened #106 "Support path-like objects"
Python 3.6 finally implements [PEP 519](https://www.python.org/dev/peps/pep-0519/).  This means we can use `pathlib.Path` instances in standard library methods that expect a string path.  For example we can do

[code]

At a minimum, I recommend supporting passing path-like objects into read_env.  You can check if an object is a path-like object by using `isinstance(a_path, os.PathLike)`.  In the c

[2017-01-25 09:44] max-arnold commented on #58
@tiany @QasimK Could you please test this patch? https://github.com/joke2k/django-environ/pull/105

[2017-01-30 21:06] QasimK commented on #58
@max-arnold I will test it soon. Although I am not running in uwsgi-emperor mode, from the looks of it this should resolve the issue that I was having.

[2017-02-06 19:31] QasimK commented on #58
@max-arnold I can confirm that #105 resolves this issue for me :smile:

[2017-02-09 23:47] calvinhp commented on #101
Appears that the format for the urls used previously in the examples weren't selecting the database correctly. #109 Updates the docs. This should be closed as invalid.

[2017-02-11 04:10] gabn88 opened #110 "Why not set environment variables as string in the .env file?"
I see a lot of issues with urlencodig etc... So I'm just wondering why I couldn't set DATABASE_URL='the_db_url' in the .env file? That would mitigate the problems, right?

Otherwise I think I will keep using my old secret_info.txt file, which states it like this:

[code]

and then gets imported like this:

`exec(open(os.path.join(os.path.dirname(BASE_DIR), 'secret_info.txt')).read())
`
And then do

[2017-02-25 22:01] gabn88 commented on #106
Does this mean that symlinks are also allowed?

I like to symlink to an .env-example, so that on production not accidentially the .env is read (it requires a manual step of creating the symlink).

[2017-03-02 04:20] wolfg1969 commented on #96
Got 'TypeError: keywords must be strings.' when doing this.

[2017-03-03 16:36] esseti commented on #75
Same problem here, no news?

[2017-03-03 16:36] esseti commented on #94
I would probably add some example, one for each type.

[2017-03-09 13:18] max-arnold commented on #58
@joke2k Daniele, any chances for this PR to be merged? The problem seems to be fixed, unit tests pass.

[2017-03-17 03:48] #95 closed

[2017-03-17 22:54] chadsaun opened #113 "MySQL Socket for Host"
For the host I need to use a path to a socket, but it doesn't seem to be working.  Is this supported?

[2017-03-23 11:43] webyneter commented on #60
Hit the same issue with `$4$,p#^x/?isO[_MDUDQbuiL~nRnHA#tw(=:n8VVv>hZv-rq>8`.

[2017-03-30 16:51] ericpascual commented on #103
Got the exact same problem, and it turned me crazy to find why my code was not working.

By the way, the handling of the overrides argument is a bit strange, because the passed values will not override anything at the end of the day if the variable exists already. Maybe the setdefault used there is not intentional and it should have been a set instead.

[2017-04-06 11:35] Surgo opened #115 "Project no longer maintained?"
Some issues and PRs are raised, but latest commit is Nov 14, 2016 🤔

[2017-04-06 13:38] joke2k commented on #115
I'm here, and I'll release a new version soon

[2017-04-06 13:38] #115 closed

[2017-04-08 20:19] stemcc opened #116 "Django 1.11 LTS Support"
Mainstream support for Django 1.10 ends this month.

Django-environ official support for 1.11 will help enable[ Django Cookiecutter to officially support 1.11 as well.  ](https://github.com/pydanny/cookiecutter-django/issues/1111 )

[2017-04-10 09:30] edmorley commented on #116
I opened #108 in January to test against Django 1.11, however it's not yet been merged.

[2017-04-13 15:11] joke2k commented on #58
merged! thank you for debugging

[2017-04-13 15:11] #58 closed

[2017-04-13 15:52] joke2k commented on #116
fixed with 0.4.2
thank you

[2017-04-13 15:52] #116 closed

[2017-04-13 18:04] kti-matt opened #117 "KeyError: 'DATABASE_URL' (maybe a 0.4.2 regression?)"
Thanks for your work on django-environ.

My project works fine with 0.4.1, but breaks in 0.4.2, released this morning.

I'm using Python 3.4.2 on Debian 8 and Django 1.10 in a virtualenv. I checked in a couple of ways that yes, my DATABASE_URL variable was being loaded properly. In particular, I added a line in my settings file, `print(os.environ['DATABASE_URL'])`, immediately prior to my `env.db(

[2017-04-13 18:07] japsu opened #118 "Regression in 0.4.2: fails to read values from environment"
Value of `env.bool('DEBUG')` given `DEBUG=1` changes between 0.4.1 and 0.4.2 from `True` to `False`.

Illustrated by [this gist](https://gist.github.com/japsu/97a4307cc447652ee90dbd48714b40b5).

To reproduce:

    git clone https://gist.github.com/97a4307cc447652ee90dbd48714b40b5.git regression
    cd regression
    docker-compose up

Example output:

    Starting djangoenvironregression_environ04

[2017-04-13 18:11] edmorley commented on #118
Looking at the changes between 0.4.1 and 0.4.2 (https://github.com/joke2k/django-environ/compare/v0.4.1...v0.4.2) I would presume the regression is due to #105.

[2017-04-13 18:12] japsu commented on #118
#117 similar.

[2017-04-14 02:52] dkarchmer opened #119 "No longer defaulting to os.environ"
In v0.4.1, I could do:

[code]

and if no environment file existed, it would default to `os.environ`.

This was changed by 6932e1337934c876a6d35f5d735192000fa11623 where line 66 in `environ.py` was changed from:

[code]

to:

[code]

If this is not a bug, then this is a major change in behavior, to the point that you should have call this `v0.5.0` and not just `v0.4.2`. Furthermore, you should hav

[2017-04-14 03:04] dkarchmer commented on #119
Here is an example of a docker-compose file for testing, where it is useful to keep everything in the same file, while using a real .env for production:

[code]

while the actual `.production.env` has

[code]

Yes, I can just put this on a test.env under version control, but now I have to handle two files, for each testing flavor I may want to use.

[2017-04-14 10:06] jbzdak commented on #119
Got bit by it in developer environment also.

[2017-04-14 10:48] QasimK commented on #119
#117 (first issue) and #118 related

[2017-04-14 11:01] QasimK commented on #117
Regression with #105. Environment variables are now only stored within the class when `read_env` is called, which not everyone may do. Further, **unconfirmed**, sub-processes do not get an updated `os.environ` as a copy of it is made (not sure what the effect of `os.environ.copy()` is exactly).

@max-arnold @joke2k

Due to [the design of django-environ outlined](https://github.com/joke2k/django-en

[2017-04-14 16:51] joke2k commented on #117
I'm looking for a solution, but probably I've to revert on #105.

[2017-04-15 06:35] max-arnold commented on #117
It would be nice to have some unit-tests to check cases like (1) and (2)

[2017-04-16 23:27] zlove commented on #119
Reading from os.environ by default is useful. In many cloud environments (e.g. Heroku) configuration variables are set in the environment, and there is no need for a separate .env file. At least that is how I do it.

I'd vote for reverting this change in behavior to not require an .env file, and read from os.environ by default. If this behavior is made explicit and controlled with a flag passed in

[2017-04-17 04:05] max-arnold commented on #117
@joke2k Do you think adding an option to constructor is the best way to fix this (other than roll back)? I can try to make a patch.

[2017-04-18 11:27] dominik-bln commented on #118
I can confirm this, our local setups are running fine with .env files, but the CI setup that uses environment variables needs a downgrade to 0.4.1

[2017-04-18 14:17] gegenschall commented on #119
Also got bit by it out of the blue. One would assume that having `django-environ~=0.4.1` is a safe thing to do, but apparently it's not. Mhm. :/

[2017-04-18 14:31] riklaunim commented on #117
Affects me as well, 0.4.1 works without problems.

[2017-04-18 22:11] edmorley commented on #119
Always pin your dependencies to an exact version, and ideally use pip v8+'s `--require-hashes` mode:
https://pip.pypa.io/en/stable/reference/pip_install/#hash-checking-mode
https://pip.pypa.io/en/stable/user_guide/#repeatability

[2017-04-18 22:11] edmorley commented on #118
@joke2k, please can you revert #105 and do another release?

[2017-04-19 10:57] robmoorman commented on #118
Same here 0.4.2 breaks all variables.

[2017-04-19 17:33] joke2k commented on #117
Reverted and released.

I was trying to convert the `Env.ENVIRON` variable into a set of dictionaries, with os.environ as first item as default, in order to allow to use a cascade dicts into `Env.get_value`.

But I postpone this feature for 0.5

If anyone is interested to discuss about that... we can met on freenode#python

[2017-04-19 17:33] #117 closed

[2017-04-19 17:49] edmorley opened #120 "Add tests to catch recent regression"
It would be great to add some test cases that would catch the recent regression (eg #118 and friends).

[2017-05-04 05:49] TBeijen opened #121 "Support for multiple redis locations (master/slave, shards)"
Django-redis supports multiple redis locations, via:

* Default client [master/slave setup](http://niwinz.github.io/django-redis/latest/#_default_client)
* [Shard client](http://niwinz.github.io/django-redis/latest/#_shard_client)

Example of location as taken from django-redis docs:

[code]

**The issue**: Using a ``CACHE_URL`` value of ``rediscache://write_host:6379,read_host:6379/0`` (syntax ba

[2017-05-04 06:04] TBeijen commented on #120
Out of curiosity: Would introducing pytest be a good idea? I've become a huge fan of [pytest's parametrize](https://docs.pytest.org/en/latest/parametrize.html) and that looks very useful for quite a lot of tests here.

[2017-05-05 08:06] philippeluickx opened #123 "Expose .env variables as a dictionary"
Use case:
I try to use my project on a AWS Beanstalk instance. For this to run, I have to set environment variables. If django-environ would expose the .env variables in a structure that can be looped, I could script this and it would save me some time (and allow to automate).

Pointer to https://github.com/pedroburon/dotenv/blob/master/dotenv/__init__.py where this behaviour is implemented.

Than

[2017-05-19 15:46] nguyentrantuan opened #125 "'module' object has no attribute 'Env' Windows 10"
Installed Python 2.7 on Windows 10. Found nowhere to resolve this errors. Any help?

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: 'module' object has no attribute 'Env'

[2017-06-01 06:36] #104 closed

[2017-06-02 05:40] murdav commented on #81
Did you solve this? Same problem for me.

[2017-06-02 06:30] murdav opened #127 "PgBouncer and django.db.utils.OperationalError: FATAL"
Hello,

Currently it seems it's not possible to use PgBouncer:
DATABASE_URL=postgis://myuserdb:mydbpasswd@/var/run/postgresql:6432/mydb

I got
django.db.utils.OperationalError: FATAL:  database "var/run/postgresql:6432/mydb" does not exist

Thanks,

D

[2017-06-02 10:47] rubendura commented on #81
Nope, but as I want to have that anyway I ended up forcing that setting.

[code]

[2017-06-03 05:14] murdav commented on #81
@rubendura thanks for replying and confirmation. This is what I did too.

[2017-06-19 18:30] fdemmer opened #130 "redis_cache detection depends on SECRET_KEY"
To detect whether to use `django_redis` or `redis_cache` as cache backend environ tries to import (`import redis_cache`). If that fails, the `django_redis` backend is used.

However, that _always_ fails, because `SECRET_KEY` must be set before importing `redis_cache`.

So it seems to me there is a deadlock situation, when wanting to use environ to setup caching with the `redis_cache` backend.

Am

[2017-06-29 10:42] fdemmer opened #133 "CONN_MAX_AGE and TIMEOUT can be None"
Some options like CONN_MAX_AGE (DATABASES) and TIMEOUT (CACHES) can be integers or `None`, however only `_cast_int` is used to parse them, which makes it impossible to set those parameters to `None`.

[2017-06-29 19:02] fdemmer commented on #110
how, where, why? can you give an example? :)

this is exactly what `django-environ` can be used for for. you can have settings in actual environment variables or a file:

- environment variable: `DATABASE_URL='postgres://foo:bar@localhost:5432/dbname'`
- or put the same in a file called `.env` and then load it like this: `environ.Env.read_env('.env'))`

[2017-06-29 20:21] fdemmer commented on #103
@bmoelans do i understand correctly, that you have an environment variable `DATABASE_URL` that should take precedent over the same variable set in a file?

if so, you can just read the file without any overriding. `read_env()` does not overwrite existing environment variables.

the `**overrides` argument is confusing though... i'm going to create a pr to change that... not sure what the use case o

[2017-06-30 06:11] bmoelans commented on #103
Well the reason of the issue is that we use docker containers for development and that certain variables are already set in docker-compose.yml file before launching Django. The reason behind this is that any developer can run the software out of the box.
I could use docker-compose.override.yml or so, but the env-file are more flexible to switch context.

What is the reason behind the fact that you

[2017-06-30 06:19] gabn88 commented on #110
You are right sir. I think I misunderstood at first, but things are working fine now. Thanks!

[2017-06-30 06:19] #110 closed

[2017-06-30 09:25] fdemmer commented on #103
i have no idea; not my code; just came to use this recently myself :)

[2017-06-30 14:13] diegogslomp opened #137 "Postgres schema to .env file"
Hello!

At my original settings.py I have this configuration to set the postgres database schema. How can I set this in a django-environ .env file?
[code]

[2017-07-04 11:21] joke2k opened #138 "Django project template"
Create a django project template with settings.py that uses `.env` example file.

[2017-07-04 12:01] diegogslomp commented on #137
Changed manually using 'SET search_path TO myschema,public;' from psql cli

[2017-07-04 12:01] #137 closed

[2017-07-07 09:40] joke2k opened #139 "Plugin system for django environ"
We need a plugin system that allows to third-party packages to use Env.url method.

Something like:

if django-environ is installed:
  register a parser for specific settings reader to Env class

Then we can move the logic of url parsing outside of this package.

[2017-07-07 09:45] joke2k commented on #98
hi @avrahamshukron

to handle a value that starts with $ you have to use quotes like that:
`SECRET_KEY="$skipped-dollar-proxy-function"`

[2017-07-07 09:45] #98 closed

[2017-07-07 09:47] avrahamshukron commented on #98
That's awesome, thanks!

[2017-07-07 09:49] joke2k commented on #87
Actually we cannot skip the use of upper() for keys.
Most of third-party plugin uses upper-cased characters.

See #139 if you are interested to extend django-environ

[2017-07-19 13:20] edmorley commented on #53
The latest releases are now available as wheels :-)
https://pypi.python.org/pypi/django-environ

[2017-07-19 13:20] #53 closed

[2017-07-19 19:57] edmorley opened #141 "Exclude tests from package on PyPI"
Currently the package on PyPI includes the tests:
[code]

This accounts for over half the package size.

[2017-07-25 15:05] jjlorenzo opened #142 "Add support for django channel layers"

[2017-07-28 06:45] callsamleung opened #143 "For Multiple Environments"
Hi all,
django can use '--settings [settings.py]' to let the same code run under the difference settings.

can we have some way to do that?

Like this.
[code]

[2017-09-01 12:33] #101 closed

[2017-09-01 14:10] joke2k commented on #143
Hi @callsamleung

your request is very common but it doesn't concern only django-environ because in your example involve the arg parsing of runserver.
Of course you can use some like that:
[code]
and read the os environment variable in settings.py:
[code]

[2017-09-03 01:17] vanyakosmos opened #144 "[duplicated] about spaces around equal sign"
[Original issue.](https://github.com/joke2k/django-environ/issues/35)

With spaces around '=' config looks much more friendly and readable. I still don't understand why it is necessary to comply with this 'convention' and break readability...
Spaces around '=' don't break anything, there is no value that needs spaces at the beginning, and if there is then value can be surrounded by quotes.

Also w

[2017-09-26 01:53] dinesh829269 opened #146 "Problem Sending Mail using ENV"
I am using Django Edge Project that has django-environ installed,
I need to send Email using TLS,
my email string is :
EMAIL_URL=smtp+tls://myusername@gmail.com:mypassword@smtp.gmail.com:587
and in settings
EMAIL_CONFIG = env.email_url(
            'EMAIL_URL', default='smtp+tls://username@gmaillcom@:password@smtp.gmail.com:587')
vars().update(EMAIL_CONFIG)

But when i am sending Email,
It sends f

[2017-10-06 08:31] thaxy opened #147 "django-envrion env.db doesn't work with manage.py inspectdb"
Given the following ``DATABASES`` variable in my ``config.py``:
[code]
Results as expected when I run my server to:
`{'default': {'NAME': 'postgres', 'PORT': 5432, 'ENGINE': 'django.db.backends.postgresql_psycopg2', 'USER': 'postgres', 'ATOMIC_REQUESTS': True, 'PASSWORD': '', 'HOST': 'postgres'}}`

But when executing the ``manage.py inspectdb`` command (which loads the same ``config.py`` file) res

[2017-10-13 08:05] memclutter commented on #146
What is the value in [DEFAULT_FROME_EMAIL](https://docs.djangoproject.com/en/1.11/ref/settings/#default-from-email)?

[2017-10-13 08:40] memclutter commented on #144
@vaniakosmos this feature refers to the package [envarse](https://github.com/rconradharris/envparse), because It is there that parsing `.env` files.

Also, it's more about declaring variables in [linux OS](https://www.digitalocean.com/community/tutorials/how-to-read-and-set-environmental-and-shell-variables-on-a-linux-vps).

[2017-10-15 16:53] mrogaski commented on #60
I just hit this bug, also while expanding SECRET_KEY.

I don't think expansion should be applied to the value of environment variables at all.  Frankly, it's a significant security exposure.

Expansion using `$FOO` or `${FOO}` in UN*X shells and `%FOO%` in Windows is done when setting the variables, but the variables are stored in their expanded form and are treated purely as opaque data by the sh

[2017-10-17 10:33] pyup-bot opened #149 "Initial Update"
Hi 👊

This is my first visit to this fine repo, but it seems you have been working hard to keep all dependencies updated so far.

Once you have closed this issue, I'll create separate pull requests for every update as soon as I find one.

That's it for now!

Happy merging! 🤖

[2017-10-29 15:25] mixkorshun commented on #138
I have made a simple project template with `django-environ`.

You can find it at: https://github.com/mixkorshun/django-environ-project-template
And you can read a tutorial here: https://github.com/mixkorshun/django-environ-project-template/wiki/README

I tried to make it directly in `django-environ` package, but faced the fact that creating a project with this template is not simple to describe. I

[2017-11-02 16:48] ntravis opened #153 "Appveyor Builds broken because of HTTPS issue"
Looks like this would be easy to fix by adding
`[Net.ServicePointManager]::SecurityProtocol = 'Tls11, Tls12'`
before the current webclient line, or altering the download approach to use another supported method.
https://www.appveyor.com/docs/how-to/download-file/
@joke2k do you have a preference of leaving the webclient in place or modifying to another recommended approach that would retain the "l

[2017-11-10 13:32] tadeoos commented on #113
Have you tried leaving the `host` and `port` blank? i.e. `mysql://USERNAME:PASS@:/DB_NAME`?

[2017-11-27 07:12] Jafnee opened #156 "Support for mssql://"
Add support for the `sql_server.pyodbc` engine, which dj-database-url supports.

[2017-12-13 18:43] oppianmatt opened #159 "add to db base options"
Django added the option `DISABLE_SERVER_SIDE_CURSORS` but it's a base database option and not an OPTIONS one.

How do we add to:

[code]

[2017-12-15 04:54] mheppner opened #160 "Floats can only be positive values"
Due to the [regex used](https://github.com/joke2k/django-environ/blob/628ed38e540ec9a6f3aff622953948e54f14a76d/environ/environ.py#L332) when casting floats, negative values are converted to positive, since hyphens are removed. There doesn't seem to be any test cases that cover this either.

[2017-12-22 13:57] K377U opened #161 "Remove Django dependency or make it optional"
I would like to use this package for non-django project but the dependency requirement is a bit heavy for small command line applications.

Django is set in install_requires but it is not used in the package. Only tests are using it. Would it be possible to remove this dependency from install_requires?

[2017-12-29 04:19] Jafnee opened #162 "Casting to bytes"
Add support to cast env vars to bytes.

[2017-12-29 04:48] Jafnee opened #164 "AppVeyor tests are failing, running python 2 with Django 2"
Tests are failing on AppVeyor, due it to testing Python2 environments with the latest Django.
Django 2.0.0+ has dropped support for Python2.

[2018-01-09 12:26] VKen opened #165 "read_env doesn't parse dictionary properly from lines with quotes/apostrophes"
https://github.com/joke2k/django-environ/blob/628ed38e540ec9a6f3aff622953948e54f14a76d/environ/environ.py#L633-L638

Hi, I was using the `Env.read_env()` function to load a file consisting of dictionary pattern:

[code]
After parsing the lines, what is pulled by the regex matching is:
[code]
which gives us:
[code]

I just found this out as i debugged for quite a while. It doesn't happen if the var

[2018-01-10 19:04] epicserve opened #166 "Docs / Feature for nested lists"
Maybe I'm just missing it but what is a way to change the ADMINS setting so it uses an environment variable?

[2018-01-13 01:12] matteosimone commented on #58
I am seeing this issue on 0.4.4. I looked into the changes that resulted from this pr and these fixes were reverted. When I do a uwsgi reload after changing a .env file, the new settings are not pulled in from the file. Is anyone else having this issue?

[2018-01-14 02:53] Jafnee commented on #166
I don't think there's a way to pass in nested list/tuple straight from env, but something like this would work.

ENV
[code]

settings.py
[code]

[2018-01-15 18:30] epicserve commented on #166
This looks like a decent solution. Is this worth putting in the readme?

[2018-01-16 02:08] Jafnee commented on #166
I think it'd fit in with the other tips https://github.com/joke2k/django-environ#tips

[2018-01-16 10:15] theskumar commented on #166
@epicserve @Jafnee have a look at https://github.com/joke2k/django-environ/pull/167#pullrequestreview-89042631

[2018-01-16 18:41] matteosimone commented on #58
Hi , for anyone else who runs into this problem:

If you do not care about environment variables taking priority over variables in .env files, then you can fix this problem by overriding **read_env()** and have it always overwrite existing keys instead of using **cls.ENVIRON.setdefault**

[2018-01-17 16:53] epicserve commented on #166
@theskumar, I commented on your PR.

[2018-01-27 06:11] clintonb commented on #137
dj-database-url supports this: https://github.com/kennethreitz/dj-database-url/pull/59. It would be great if this functionality was incorporated into this package.

[2018-01-27 06:27] clintonb commented on #137
For future readers, you can set the options query string to define the search path:

`DATABASE_URL=psql://user:pass@db.example.com:5432/test_db?options=-c%20search_path%3Dmyschema`

This will result in the following Django `dict` being rendered:

[code]

[2018-01-28 13:22] AndBondStyle opened #169 "Automatically create file or dir via Path object"
I think sometimes it would be better to create required folders on runtime rather than keep them (often with some useless files like .gitkeep) in project repository.
It would be perfect to have some optional kwarg like this:
[code]

[2018-02-05 15:55] hammadzz commented on #127
@murdav you sure it was caused by django-environ? I suspect it must have been pgbouncer configuration as it should just work like a regular Postgres connection.

[2018-02-05 16:02] hammadzz commented on #127
https://github.com/joke2k/django-environ/pull/158

Could this be the actual issue?

[2018-02-06 05:50] murdav commented on #127
Yes, that it's the case! ? I'm going to close this in favour of #158.

[2018-02-06 05:50] #127 closed

[2018-02-06 17:30] hammadzz commented on #119
Will there be a fix or the hack is the way to go?

[2018-02-11 16:37] gabn88 commented on #133
This should be merged soon, otherwise we cannot set the cache not to expire... This is really unexpected behaviour.

[2018-02-15 10:32] ArtemBernatskyy opened #172 "Proposition to change env file format to allow it to be Ansible compatible"
Hello guys, great package.

I think we need to make env file compatible with `Ansible` yml env file.
Thus allows us to have single env file for both `django-environ` and `Ansible`.

Any thoughts about this ?

[2018-02-15 17:48] ddiazpinto opened #173 "Database url.scheme only works for built-in schemes (backends)"
I haven't find any issue related to this topic, so sorry in advance if it is something that has been already discussed.

According to this code inside ```Env.db_url_config()```:
[code]

Actually, the only way to set up a custom backend for a database is using the ```engine``` parameter when we call ```Env.db()``` at the same time that we put an invalid ```url.scheme``` in ```DATABASE_URL``` (what

[2018-02-15 18:08] ddiazpinto opened #175 "Order of importance of engine configuration in db_url_config"
According to this code in ```db_url_config```:
[code]

If you configure a backend using the ```engine``` parameter of ```Env.db()```:

[code]
The engine is going to be overriden by the scheme you have put in ```DATABASE_URL``` (if it is exists in ```Env.DB_SCHEMES```. see #173).

I think that it is a misbehaviour. The ```engine``` parameter of ```Env.db()``` should be the last to be checked, becau

[2018-03-23 13:40] Darkless012 commented on #175
Please merge this, I've just spend more than comfortable time of debugging set engine.

[2018-03-28 16:55] QasimK commented on #58
@matteosimone How do you override `read_env()`? Do you use your own fork of the package?

[2018-03-28 23:24] matteosimone commented on #58
@QasimK make a subclass of `Env` and use it instead of importing from the django-environ package

It might look something like
[code]

[2018-03-30 19:44] garrykevin-ep commented on #125
pip install django-environ

[2018-04-01 18:48] kakkulap opened #181 "psqlextra.backend support"
For Django's Postgresql Extras (https://github.com/SectorLabs/django-postgres-extra) I had to fork  ```environ/environ.py``` as stated below, in patch format.

Could this be implemented in mainstream?
[code]

[2018-05-15 08:07] codingjoe opened #183 "Remove custom Path implementation in favor of PEP428"
Is there any good reason why this library implements it's own path implementation even tho there is a builtin in Python?
https://docs.python.org/3/library/pathlib.html#module-pathlib
https://www.python.org/dev/peps/pep-0428/

My suggestion would be to replace it, to reduce complexity and avoid people confusing them.

[2018-05-31 16:19] konoufo opened #185 "Lazily load default value of environment variable"
Would you accept a pull request to enable lazy evaluation of default value ? I think there are several use cases where you want to generate the default on-demand. For example, creating a new temporary directory and use it as a default value when a env var doesn't exist in environment.

[2018-06-05 13:39] #164 closed

[2018-06-05 18:14] joke2k commented on #138
https://github.com/pydanny/cookiecutter-djangopackage is a good project template that uses django-environ

[2018-06-05 18:14] #138 closed

[2018-06-05 18:18] #153 closed

[2018-06-05 18:30] #156 closed

[2018-06-05 18:35] #162 closed

[2018-06-05 18:41] joke2k commented on #166
Added to Tips.

Thank you

[2018-06-05 18:41] #166 closed

[2018-06-05 20:53] #173 closed

[2018-06-05 20:54] joke2k commented on #175
Thank you guys, sorry for lazy merge

[2018-06-05 20:54] #175 closed

[2018-06-13 01:43] yaphetsglhf commented on #103
so is there any result?

[2018-06-21 08:51] chris-erickson commented on #161
@joke2k What do you think about this?  It seems that when the only dependency I can find doesn't exist, it [has a sane fallback](https://github.com/joke2k/django-environ/blob/develop/environ/environ.py#L12-L19).

This is one of the best env tools, and I use it outside many Django apps.

[2018-06-22 07:23] normoes opened #186 "'CACHE_URL' default value is not found using env.cache()"
Hi,

The environment:
**django-environ==0.4.4**
**Django==2.0.6**

I have **no** `CACHE_URL` environment variable set in the system.

In **settings.py** I use:
[code]

On  calling `env.cache()` I expect to get a dictinoary like this:
`{'BACKEND': 'django.core.cache.backends.locmem.LocMemCache', 'LOCATION': ''}`

Instead I get:
[code]

`print(env('CACHE_URL'))` shows the correct default value.
`pri

[2018-06-22 09:12] joke2k commented on #161
Hi @K377U and @chris-erickson see #73

[2018-06-22 09:12] #161 closed

[2018-06-25 15:53] #143 closed

[2018-06-26 20:52] joke2k commented on #125
Yep... just install the package plz

[2018-06-26 20:52] #125 closed

[2018-06-26 20:57] #17 closed

[2018-06-26 20:58] #21 closed

[2018-06-26 20:59] #24 closed

[2018-06-26 21:00] #32 closed

[2018-06-26 21:01] joke2k commented on #70
:smile: thank you

[2018-06-26 21:01] #70 closed

[2018-06-26 21:03] joke2k commented on #81
@rubendura @murdav now options like CONN_MAX_AGE are better parsed.
Retry after few years :smiley:

[2018-06-26 21:03] #81 closed

[2018-06-27 06:51] thomasf opened #187 "Support sqlite database urls relative to project path."
When developing it makes sense to have the database file in the local repository directory, to have a `dev.env` which is valid for all developers it needs to be relative..

I have been doing hacks in settings.py to get around it for a few years now but I would like a discussion about how to maybe integrate such a feature into django-environ.

This basically just assumes that if the the file is at

[2018-06-27 07:20] thomasf commented on #185
Please describe how you suggest it will work!

I use a pattern like this when I want to have that feature and it's not very verbose:

[code]

To me this has worked fine..

[2018-06-27 07:51] joke2k commented on #187
Hi @tomasf
The file url syntax for dbs allows you to put you db everywhere in your filesystem.
Relative or absolute too.
See the tips for sqlite in Readme.
If I correctly understand what do you mean, you need to have `dev.env` with relative path for db... so you can use
sqlite:///db.sqlite for a db in the same dir of .env file and
sqlite://../db.sqlite for relative one and
sqlite:////home/user/db.

[2018-06-27 08:12] thomasf commented on #187
Ok, it just became more tricky latley it seems..
The problem with `sqlite:///db.sqlite` is that it is relative to PWD instead of the project root.

This one maybe has stopped working recently(?)
[code]

[2018-06-27 08:18] thomasf commented on #187
Maybe you were not saying that it already should work?.. But yes, I mostly want that absolute and relative to some root defined in `settings.py` to both work.

[2018-06-27 08:58] joke2k commented on #187
Sure, I wrote badly `//../` doesnt' work. sorry

But `sqlite:///../sqlite.db` works with relative to your pwd... and pwd is the directory that you set in your nginx, uwsgi.. apache config, or, in development, the path of manage.py.
Actually is django that resolves sqlite:/// to pwd.

Your suggestion to use the `dot` to trigger relative path to a `sqlite_root` parameter seems to be a repetition. Yo

[2018-06-27 09:04] thomasf commented on #187
This is what I need to override,, When using a shell I execute manage.py from the directory I'm in, not necessarily the root of the project..

 `python ../manage.py runserver` doesnt work and it's only because the database url  since `root = environ.Path(__file__) - 2` takes care of making everything else to be relative to the project root instead
 of PWD.. It's strange that the database url is th

[2018-06-27 09:18] thomasf commented on #187
I am suggesting `.` as the hostname since that currently has no semantic meaning with sqlite.. Any other keyword would also work for me.. I don't know which word or symbol would communicate that the magic hostname refers to an additional argument to `env.db` and related functions..

This is maybe similarly confusing but more verbose which maybe makes it clearer.

[code]

[2018-06-28 11:21] fdemmer commented on #130
fixed in e247e4776905fff70b02c8cde81fd8d0af862e5a

[2018-06-28 11:21] #130 closed

[2018-06-30 00:19] konoufo commented on #185
Yeah I think being able to pass a plain function that's evaluated when `env("SOMETHING", fun)` is called. This wouldn't make a difference timing-wise compared to what we're doing right now.

[2018-07-01 11:02] thomasf commented on #185
So something like this then..

[code]

[2018-07-01 12:45] nieltg opened #188 "Support for MongoDB URL scheme"
I'm just trying a MongoDB cloud hosting service outside there and I just found out that it provides some URI like this to connect.

[code]

I wonder if it could be integrated with `django-environ`. I suggest [nesdis/djongo](https://github.com/nesdis/djongo) as DB connector because of its compatibility with Django and Django projects which in general uses models which are relational.

Thank you ver

[2018-07-01 13:08] nieltg commented on #188
I am sorry for opening this issue. I have just read that this already supports custom backends, well, from [here](https://github.com/joke2k/django-environ/blob/20a1b506487e1a737aab93b66ff203beab91af15/environ/test.py#L23). I think it is better if it is stated that it supports custom backends in the documentation [here](https://django-environ.readthedocs.io/en/latest/#how-to-use).

Thank you very m

[2018-07-01 17:12] konoufo commented on #185
Yeah this is how I'd use it. I could submit a PR if you're okay with this.

________________________________
De : Thomas Frössman <notifications@github.com>
Envoyé : dimanche 1 juillet 2018 11:02:16
À : joke2k/django-environ
Cc : konoufo; Author
Objet : Re: [joke2k/django-environ] Lazily load default value of environment variable (#185)

So something like this then..

def create_something():
    r

[2018-07-01 17:45] thomasf commented on #185
I am not a maintainer. I just wanted to understand what you were requesting, it looks clear to me now..

[2018-07-01 18:09] konoufo commented on #185
Oh okay! Sorry. Alright, waiting for the maintainers then...

________________________________
De : Thomas Frössman <notifications@github.com>
Envoyé : dimanche 1 juillet 2018 17:45:57
À : joke2k/django-environ
Cc : konoufo; Author
Objet : Re: [joke2k/django-environ] Lazily load default value of environment variable (#185)

I am not a maintainer. I just wanted to understand what you were requestin

[2018-07-02 03:29] Jafnee commented on #185
I haven't tested this, but would creating your own lazy class work?

[code]

[2018-07-02 04:36] konoufo commented on #185
Well, I'd have to edit every code that uses `OTHER_THING` to replace `settings.OTHER_THING` with `settings.OTHER_THING.value`. I'm aware of workarounds to get the functionality I want. But for the sake of separation of concerns, I don't want to call `create_something` inside the settings file. And for consistency, I want the actual value of a setting to be always directly accessible thru `settings

[2018-07-02 07:14] Jafnee commented on #185
Shouldn't need to replace everything to `settings.OTHER_THING.value`, the example above is meant to evaluated lazily whenever the setting is used.
The value will either be the string set via env var or the return value of the function provided. The function is also called each time the setting is used, e.g if it returned the timestamp now, it will always return the latest value.

[2018-07-02 07:58] thomasf commented on #185
Remember that if you are using it for creating a new temporary directory and use it as a default value and don't return a static value the value will probably be different for each django process in a uwsgi server. If possible you should normally always prefer a deterministic way to create the settings.

[2018-07-02 09:53] joke2k commented on #185
Hi, I think this feature could be useful.
As @konoufo said, callable defaults are ubiquitous in Python, and we could implement it as easy.
Here https://github.com/joke2k/django-environ/blob/develop/environ/environ.py#L279 we could handle this, without side effects.

[2018-07-02 18:00] konoufo commented on #185
@Jafnee  that is if you assume that the setting will be used in some way as a string or coerced to a string.
@thomasf I realize that and the temporary directory setting is just a specific use case; but yeah I'm aware that it has to be deterministic if I want a single unique directory for every process.
@joke2k Right, I could submit a PR.

[2018-07-07 16:46] apollo13 opened #189 "[RFC] Add support for docker-style _FILE environment variables"
I'd like to add support for docker-style `_FILE` environment variables. What this would mean basically is the following:

Take this line as an example:
[code]
This will make `environ` look for a `DATABASE_URL` and use that. I'd like to extend it to first look for `DATABASE_URL_FILE` and if that variable exists and is set read the file it points to and use that instead of `DATABASE_URL`.

The idea

[2018-07-09 00:30] kutenai commented on #103
The PR adds a new argument -- `overwrite=False` to read_env. When set to True, then values from the file overwrite any existing values.

I can only see one downside -- if "overrides" had a value named 'overwrite', then it would enable overwrite behavior.

It is unfortunate the the module uses **overrides as it does, since this puts a limit on adding any new  keyword arguments.

I would personally

[2018-07-13 01:44] mbonnefoy opened #192 "default seems broken"
Hi there,

I've just updated from 0.4.4 to 0.4.5 and noticed a few unexpected behaviours with default. Presumably they relate to the casting changes that were introduced recently?

[code]

[code]

[code]

Cheers,
Matthieu

[2018-07-20 16:31] richtier opened #193 "Allow specifying allowed options?"
It would be great to detect an env var has been misconfigured by optionally providing a list of valid choices for the value.

It seems this is not currently supported.

Is this on the roadmap? I'm happy to contribute this feature.

[2018-07-23 20:03] ajhodges opened #194 "'+'es are stripped from passwords"
I'm using django-environ to read passwords that are generated by AWS (i.e. the SES SMTP credentials, which use an AWS Secret as the password). These passwords can have '+' symbols in them, which are stripped by `_cast_urlstr()`/`unquote_plus()`.

I think for now my temporary fix is to urlencode the passwords, but I feel like I shouldn't have to do that.

[2018-07-24 12:01] aldokkani opened #196 "Include TEST db in DATEBASE_URL"
Django Database settings allows you to spicify the database for testing like the following

[code]
So how can I do this from DATEBASE_URL?

[2018-07-25 05:30] alexforever86 commented on #76
Modified this bit more so that if `ENV_PATH` is present, environment variables will be loaded from this file.
[code]

[2018-07-30 16:41] ntravis commented on #194
It's documented in the README and has been that way since 2016. The maintainer is generally open to PRs if you can account for unsafe characters and provide test cases.

https://github.com/joke2k/django-environ#using-unsafe-characters-in-urls

[2018-08-01 09:48] pssuils commented on #194
We just run into the same problem 😬. For the moment we'll need to change our passwords to not contain any `+` however I 👍 that the *passwords* could include `+`.

[2018-08-08 18:50] JimFawkes opened #197 "AttributeError: 'str' object has no attribute '__root__'"
Hi,

I just got an error that I do not understand.

**Here is what I did:**
In order for django-debug-toolbar (dtb) to work I wanted to add 127.0.0.1 to INTERNAL_IPS. Because I was only trying to check if this causes dtb to work, I did not set this setting via environment variables or the env file.
For some reason this throws an exception which has its root in `environ/environ.py", line 730, in __

[2018-08-12 20:40] lociii opened #199 "Usage question: Private env in public project"
Hey folks,

thanks a lot for this awesome project.
I'm struggling to find a good way of providing a default environment for company internal developers to setup a project that we want to open source without publishing this environment to external people.
e.g. some Google OAuth keys that can be used internally but shouldn't make it to the public.

Any suggestions?

Thanks, Jens

[2018-09-06 13:16] diek commented on #76
Easily the most complex setting of environmental variables I have ever dealt with, simply unbelievable.

[2018-09-07 03:40] craigds commented on #192
This seems like a pretty serious issue, any chance of an update?

[2018-09-07 09:47] jamesdh commented on #119
@dkarchmer This was ultimately fixed via https://github.com/joke2k/django-environ/commit/04829316a106583ae559604247a68425c4c19045 and subsequently released as part of v0.4.3

@joke2k it seems this issue can be closed.

[2018-09-13 19:05] davidfischer opened #200 "Error with CACHE_URL passwords that end with '='"
This is somewhat similar to #194. A cache password that ends with the `=` character raises an error when calling `env.cache`. Even escaping it (`%3D`) will not work.

It looks like the `cast` method works by trying to just convert to a value and if that fails with a `ValueError`, it assumes the value is string ([see code](https://github.com/joke2k/django-environ/blob/20a1b50/environ/environ.py#L27

[2018-10-02 21:47] #144 closed

[2018-10-28 07:08] Alig1493 commented on #160
I think adding ?- will probably solve the issue

[2018-11-05 19:54] fdobrovolny opened #202 "DATABASE_URL doesn't support custom backends when underscores in engine part"
This works as expected:
[code]
Doesn't work:
[code]
[code]

[2018-11-21 10:59] T-101 commented on #103
Any chance of merging this PR?

[2018-12-16 17:58] MateuszGrabuszynski commented on #196
As far as I know, you can do it like that:
1) `DATABASES = {'default': env.db()}`
which should read from env 'DATABASE_URL';
2) `DATABASES['default']['TEST'] = {'NAME': 'mytestdatabase'}`
just after the 1). But I am not 100% sure if that works, sorry.

[2018-12-26 05:47] Sanjeetkumar163 opened #205 "n"

[2018-12-26 05:47] #205 closed

[2019-01-09 13:45] nodje commented on #144
I totally agree with @vanyakosmos, this no-space in `.env` file convention makes no sense. Space around = sign should be supported, like in many other languages.

And that part come from `django-environ` (and originally from `honcho` apparently): https://github.com/joke2k/django-environ/blob/develop/environ/environ.py#L645
[code]
should simply be
[code]

[2019-01-09 19:39] vanyakosmos commented on #144
Or like this:
[code]
to ensure that spaces around `=` are placed on both sides at the same time intentionally.

**but**

I think @memclutter is right though. If something was built around specific tool then this something should comply with the way how this specific tool works and avoid any customization which can confuse developers. In our case this something is `django-environ` and 'tool' is she

[2019-01-24 19:10] kshitijgorde opened #207 "Using '$' inside .env File being evaluated incorrectly because of PROXY"
Here is my .env file
EMAIL_HOST_USER='xyz@gmail.com'
EMAIL_HOST_PASSWORD='$xyz'

*** This leads to the following error **
ImproperlyConfigured
It thinks that xyz is another variable.

[2019-01-24 22:50] valberg commented on #189
@apollo13 have you done any work on this?

[2019-01-25 06:45] apollo13 commented on #189
Nope

On Thu, Jan 24, 2019, at 23:50, Víðir Valberg Guðmundsson wrote:

[2019-01-25 21:04] fdemmer commented on #192
i can see why you would expect that _on first glance_ and i also could not find clear documentation :(
however, imho the current implementation makes sense, does the right thing and is _not a bug_.

what you are asking the software to do in the first two examples:

- there might be an environment variable called `GOOGLE_ANALYTICS_KEY`, return that
- if you can't find it, give me a _boolean_ with v

[2019-01-29 21:39] Pomax opened #209 "Support for SOME_VAR=(int, None)?"
Is there a way to tell environ that `SOME_VAR=` in an env file is fine, and should lead to SOME_VAR being assigned the pythonic `None` when using the `SOME_VAR=(int, None)` format?

[2019-01-30 19:34] taymonbeal opened #210 "rediss URLs are not supported"
If a cache URL scheme is `rediss://`, which is needed in order to connect over TLS, then a KeyError is thrown.

[2019-02-01 09:58] ghost opened #212 "Got problem with env.email_url('EMAIL_URL') in .env file"
I'm using EMAIL_URL in Django settings.py，here is my setting:
[code]
this is my `.env` file
`EMAIL_URL=smtp+ssl://fake@fake.com@:mypassword@smtp.qiye.aliyun.com:465`
I am sure that all my infomation is correct, but I always got this error
[code]
Is there anything wrong with **EMAIL_URL** setting in `.env` file?

[2019-02-01 13:51] thiras commented on #202
I confirm the bug under;

- Python 3.6
- Django 2.1.5

[2019-02-03 08:20] vubon opened #213 "Using '$' inside .env file does not work"
When using first character as $ . It raise Improperly Configured
Example:
Inside .env file

USER_TEST=$123bnsfbndsbf

Settings.py
envfile_path = os.path.join(BASE_DIR, '.env')
environ.Env.read_env(envfile_path)

TEST = env("USER_TEST")

After all I checked here is the problem to get $ symbol value
[Code Line number](https://github.com/joke2k/django-environ/blob/b32c07d7ed57cdeaef246f995a29e5fe39a0

[2019-02-05 10:51] jbagot commented on #192
It's really interesting. It was failing some weeks ago. But now I'm trying another time the same and it's not failing anymore.
[code]
It's working as expected and I'm using the version 0.4.5.

But it was failing 18 days ago at least. And was a pretty serious issue because a lot of projects rely on it and in one minor update, without any mention in the changelog the `default` behavior changed.

[2019-02-07 06:21] Jafnee commented on #213
Looks like it's to allow using another environment variable as the value

[2019-02-07 14:38] Tberdy commented on #192
Same for me. Avoid using python True or False with the default parameter.

[2019-02-08 11:23] sandino commented on #47
+1

@hernantz Django has [settings that consume list of tuples, such as ADMINS or MANAGERS](https://docs.djangoproject.com/en/2.2/ref/settings/#admins):

[code]
it would be nice not to hardcode them and fetch from environment.

[2019-02-08 15:07] hernantz commented on #47
@sandino You can accomplish that with
[code]

[2019-02-08 15:19] sandino commented on #47
@hernantz This solves the problem, thanks!

[2019-02-22 15:29] patrickjrm commented on #103
+1 for merging PR #191.

The similar `python-dotenv` project does have an `override=True` option.

https://github.com/theskumar/python-dotenv#getting-started

[2019-02-25 13:49] ezzra opened #214 "problems with lists in .env"
I don't know if I am using this wrong here, but if, it does not look straight forwarded to me. I have this in settings.py

[code]
and this in `.env`

`ALLOWED_HOSTS=['127.0.0.1', 'localhost']`

Which wont work, because `env('ALLOWED_HOSTS')` will return `["['127.0.0.1', 'localhost']"]`. But it should be `['127.0.0.1', 'localhost']` of course. If I try to use it without the `list` parameter in `.En

[2019-02-26 08:34] ptink commented on #214
the syntax for lists in the `.env` file is comma separated values so it would be `ALLOWED_HOSTS=127.0.0.1,localhost`

[2019-02-26 11:40] ezzra commented on #214
ah ok, good to know, is that documented somewhere?

[2019-03-01 12:46] ptink commented on #214
https://django-environ.readthedocs.io/en/latest/#supported-types

Next to some of the types there's an example usage

[2019-03-05 09:48] Xzya commented on #213
Any solution to this? How can we use values that start with `$`?

[2019-03-05 10:51] vubon commented on #213
You may override the condition.
Condition line number: https://github.com/joke2k/django-environ/blob/b32c07d7ed57cdeaef246f995a29e5fe39a076b3/environ/environ.py#L282

[2019-03-07 19:59] mbonnefoy commented on #192
@fdemmer Thanks for the feedback. I am not using django-environ anymore, please feel free to close.

[2019-03-11 10:02] mehdimortaz commented on #78
its happen to me too , i just now found unintentional i changed "configuration" in top of PyCharm IDE so pycharm confused when try to run django code. exactly the problem popup when i try to runserver with shortcut but when i used terminal to runserver i found django code havent any problem and pycharm cant found setting. so plz check "configuration" in top pycharm's ide maybe u do same mistake :)

[2019-03-13 06:55] loicteixeira commented on #202
Same issue here.

In the meantime, I went around the issue by monkey patching the `Env` class to add my own database scheme this way:

[code]

---

For what is worth, I tried to make it a bit cleaner by subclassing `Env` to make my own subclass like so:

[code]

However it doesn't work since [`Env.db_url_config` uses `Env.DB_SCHEMES` and not `cls.DB_SCHEMES`](https://github.com/joke2k/django-envir

[2019-03-15 22:36] dennereed commented on #197
I'm experiencing the same issue.  It crops up when I attempt unit tests.

[2019-03-29 11:11] khink commented on #58
I am still experiencing a problem that looks similar to this one.

We are using django-environ 0.4.5, which should have the #105 fix.

The problem is: `touch`ing the `uwsgi-reload` file *does* reload `production.py` (our Django settings file used on this environment), but the `.env` variables are not updated.

What i mean by this is, when is put `MY_SETTING = 2 # or any number` in the `production.

[2019-03-29 11:34] max-arnold commented on #58
@khink AFAIK, #105 was rolled back as it caused other problems

[2019-03-29 12:07] khink commented on #58
@max-arnold Thanks for your speedy reply. You seem to be right, there's a revert commit: 04829316a106583ae559604247a68425c4c19045

@joke2k Maybe this ticket could be re-opened, if the fix was reverted?

[2019-03-31 22:57] sant527 opened #216 "how to separate INSTALLED_APPS or dev and prod"
In django development i am planning to install django-extensions app

I have to add it to the INSTALLED_APPS.

[code]

Now how to use django-envion's .env file which will pass INSTALLED_APPS

because i will have a different .env files for dev and prod

[2019-04-01 07:58] ptink commented on #216
[code]

dev.env
[code]

prod.env
[code]

Personally INSTALLED_APPS is one of the things I leave to the `dev.py / prod.py` settings file patterns because the list order is sometimes important but this approach should work for you

[2019-04-01 18:49] alvarolloret opened #217 "Basic example not working"
I'm trying to setup the .env  for a Django project. However, it seems that not even the basic example works. Just trying to setup the variable `DEBUG` in the .env file. I must be missing something:

Steps to reproduce the behaviour --> From `python manage.py shell`:
[code]
no matter what I write, the env outputs all the Time false. What am I missing

[2019-04-04 10:19] sant527 commented on #216
what does this mean. So how you do it then

[2019-04-05 07:22] sant527 opened #218 "DEBUG=on and off"
in .env we have
DEBUG=on

so if i dont want DEBUG then what should i do in .env
DEBUG=off  or
DEBUG=False

Why we are using DEBUG=on instead of DEBUG = True

[2019-04-05 07:45] Jafnee commented on #218
As long as the value is any of the ones listed [here](https://github.com/joke2k/django-environ/blob/develop/environ/environ.py#L60) it will be treated as `True`. Any values that don't fall under there will be treated as `False`.

`BOOLEAN_TRUE_STRINGS = ('true', 'on', 'ok', 'y', 'yes', '1')`

[2019-04-05 09:32] sant527 commented on #218
thanks

[2019-04-08 01:04] waspinator opened #219 "Using Variables in .env File"
how would I use variables inside the .env file?

for example, how would I define the `DATABASE_URL`  using other variables?

[code]

[2019-04-08 09:07] ptink commented on #216
I have multiple settings files e.g. `development.py`, `production.py`, `testing.py` that all inherit from a `base.py` settings file. Common settings live in `base.py` and then dev/prod/testing settings files can override them as per that environments requirements.

see: https://medium.com/django-musings/the-multiple-settings-files-pattern-a6e6066d2a69

[2019-04-08 09:21] sant527 commented on #216
but then its better to have one settings.py and use django-environ  and different .env files

[2019-04-08 11:21] ptink commented on #216
That's up to you- I prefer a mix of approaches. I only use Django environ to keep sensitive information out of the repository and to read client-specific details from client.env files. Differences in app environments I leave up to separate settings.py files.

[2019-04-09 07:17] ksze opened #220 "README mentions `urllib.parse.encode`, but there's no `encode` in the `urllib.parse` module"
Like the title says. I think you probably mean `urllib.parse.urlencode` for the query string parameters and `urllib.parse.quote` for other parts of the URL. Concrete examples of using those functions to construct URLs would also help immensely.

e.g. `DATABASE_URL` that includes:
- addressing scheme
- username
- password
- hostname or IP address
- port
- database name
- connection options as query

[2019-04-09 07:24] ksze commented on #200
Is the password really just the base64 of a long array of random bytes?

[2019-04-09 19:00] davidfischer commented on #200
Correct.

[2019-04-13 09:23] Thijss commented on #219
I don't believe this is possible. However, you can just as easily define DATABASE_URL in your python code.
[code]

[2019-04-26 15:42] wahello opened #224 "Any plan to support .toml format env file?"
### Any plan to support .toml format env file?  Thanks!

[2019-04-30 20:30] CaveSven commented on #219
@waspinator this approach is working for me.

[2019-05-06 12:15] janhh commented on #192
In case we expect a string from the environment variable and use the default parameter, should we use `default=''` or `default=None`? Will `default=None` always return None when variable isn't set? I think the use of default alone to decide casting of environment variable is more implicit than explicit and maybe [not the most pythonic](https://www.python.org/dev/peps/pep-0020/). Would it make sens

[2019-05-07 00:07] #219 closed

[2019-05-07 03:22] mattaw commented on #58
Please take a look at #225 as it should fix this properly, making django-environ use a copy of the environment instead of the os.environ mapper class.

[2019-05-10 04:07] emorozov opened #226 "django-environ doesn't parse redis unix socket location properly"
Cache connection string
`CACHE_URL="rediscache:///var/run/redis/redis-server.sock?db=3&client_class=django_redis.client.DefaultClient"`

is incorrectly parsed as:
[code]

`DB` shouldn't go into `OPTIONS`, it should be appeneded to the unix socket url:
`unix:///var/run/redis/redis-server.sock?db=3`

Because django-environ doesn't report an error, this can have a very dangerous consequences: you can

[2019-05-19 17:25] Jafnee commented on #193
@richtier @joke2k What do you think of having like this:

[code]

[2019-05-21 07:57] dk-WZFinTech commented on #88
IMO less problematic will be to inform user that they can point path for `.env` file, like I did here:

[code]

[2019-05-21 08:24] bittner commented on #88
I'd suggest to use `os.path.join(base, ".env")` instead of a slash in a string. The former is OS independent.

[2019-05-22 04:33] dk-WZFinTech commented on #88
True my bad :smile:

[2019-05-25 15:14] thomasf commented on #226
CACHE_URL parsing does not seem to support quoted values (at least not when quoted with `'` )
So this maybe works unless there are other issues as well:
[code]

[2019-05-27 05:31] emorozov commented on #226
@thomasf As far as I remember the problem is not in quoting. Problem is somewhere either in `django-environ` or `django-redis`. One of the packages or both do not properly handle specifying db when using Unix socketsfor cache. This is probably why the problem went unnoticed - it's very hard to notice that your cache values are stored in a different redis db unless you run several instances of the

[2019-05-28 01:04] claytondaley opened #227 "Better handling for None as Default"
I'm guessing this is the underlying issue in #209 and was definitely mentioned in #192.

I'm of the opinion that `default=None` should get passed faithfully by all of the basic casting functions.  It's not immediately obvious that any of the types should be "not-nullable".  I ran into the issue when trying to set the default on a `bytes` to None.  In 209, an `int` has an issue that I presume is re

[2019-05-31 18:21] sdementen commented on #103
any news on when this PR could be merged ?
I was bitten by a variant of this bug: an .env file containing twice the same variable for which I expected the last definition of the variable to be the final one

[2019-06-21 12:03] jonbesga opened #228 "Question marks not allowed in passwords"
Hi I have the following DATABASE_URL for my postgres db:

`postgres://user:pass?word@localhost/db`

But environ it's failing with:

[code]

The problem is the question mark in my password as I don't get any error if I remove it. I'm wondering if this a limitation of the library or an unintended bug

[2019-06-21 16:37] pjonson2 opened #229 "How do you write to .env variables?"

[2019-07-05 18:22] pix666 opened #230 "How can I set REVERSE_KEY_FUNCTION to Redis cache?"
`django-redis` takes aditional argument [REVERSE_KEY_FUNCTION](https://github.com/niwinz/django-redis/blob/master/django_redis/client/default.py#L38). How can I set it?

[2019-07-05 18:38] pix666 commented on #230
Solved. I've added monkey patching to my `settings.py`:
[code]

[2019-07-05 18:38] #230 closed

[2019-07-12 15:51] joke2k commented on #229
Hi @pjonson2
what do you mean with .env variables?

Try to see if Proxy can help you:
https://github.com/joke2k/django-environ#proxy-value

And check this issue #219 for further information on how to use it.

Thank you

[2019-07-12 15:55] joke2k commented on #228
Hi @jonbesga

your issue is very common, you can find the solution in README:
https://github.com/joke2k/django-environ#using-unsafe-characters-in-urls

As you can read (here: https://perishablepress.com/stop-using-unsafe-characters-in-urls/ ) question mark is not a safe character for an URL and it must be encoded ( using `urllib.parse.encode` for example).

I hope I was helpful

[2019-07-12 15:55] #228 closed

[2019-07-12 16:17] joke2k commented on #220
Hi @ksze

you're right, `urllib` package evolutions was a mess.
In the next release, I'll fix the readme.
Can you provide concrete examples to add to readme?

I think that to help people to encode an url I can link some tool like this one: https://www.urlencoder.org/

[2019-07-12 16:18] joke2k commented on #218
Thanks to @Jafnee :D

[2019-07-12 16:18] #218 closed

[2019-07-12 16:23] joke2k commented on #217
Hi @alvarolloret

It seems that something in your python environ is not well configured.
Can you share how you setup django? Using virtualenv? Pipenv? or something else?
Post the result of these commands please:
`echo $PYTHONPATH`
`pip freeze`

[2019-07-12 16:58] joke2k commented on #216
@sant527 @ptink nice discussion,

I fought with this problem a lot of time and I tried always to keep one `settings.py` to avoid the inheritance of environment specific setting file.

If I can help you with this I suggest using something like `ENV=prod` or `ENV=dev` in the `.env` file, then into the `settings.py` you can use it to manage the `INSTALLED_APPS` list:

[code]

in this way, we respecti

[2019-07-12 20:39] joke2k commented on #192
Hi @mbonnefoy thank you for posting the issue,
I'm digging in the code to understand what produces this behaviour:

https://github.com/joke2k/django-environ/compare/v0.4.4...v0.4.5#diff-674c4b6fffd8c014550873f5a20c5149R286

This is the change from 0.4.4 to 0.4.5.
With smart casting, I introduced more complexity and this is a side effect.

@jbagot the issue is when `environ` try to cast a str value

[2019-07-14 14:41] sant527 commented on #216
@joke2k
Thank you. I will use that way

what do you mean by

[2019-07-14 15:39] sant527 opened #231 "how to pass allowed_hosts default value"
I have the following in my settings.py file

[code]
my .env file is empty presently

The above i am doing for testing

when i try to access 127.0.0.1:8000 it says
`Invalid HTTP_HOST header: '127.0.0.1:8000'. You may need to add '127.0.0.1' to ALLOWED_HOSTS.`

Inspite of passing the ALLOWED_HOSTS default value without having the variable in .env file  [127.0.0.1] is not assigned.

So is it necessar

[2019-07-14 19:51] romgar commented on #217
I just went through some troubles with `pipenv`, which automatically loads as environment variable any values defined in a `.venv` file it can find at the root of the project (https://docs.pipenv.org/en/latest/advanced/#automatic-loading-of-env).
If you are in this situation, that could explain the first `print`, getting the value from the environment setup by `pipenv`.

[2019-07-15 14:31] IvanAnishchuk opened #232 "Direnv format support"
One popular alternative for env file format is env directory ([python implementation example](https://envdir.readthedocs.io/en/latest/)). It's not necessarily "better" than env files but I think it's popular enough to be useful here. I have a simple implementation for one of my work projects (we use format similar to envdir for docker secrets and configs), should I send a PR here, is anyone intere

[2019-07-20 07:59] mbonnefoy commented on #192
Thanks @joke2k 🙂

[2019-07-26 14:28] joke2k commented on #216
@sant527
is a common practice split requirements.txt by environments.
https://github.com/pydanny/cookiecutter-django/tree/master/%7B%7Bcookiecutter.project_slug%7D%7D/requirements

In this case, using my trick to fast exchange environment with `.env` `ENV` variable, you have to be sure that the INSTALLED_APPS are really installed.
Very common example: you could have `django-debug-toolbar` not inst

[2019-08-15 09:47] dnk8n opened #233 "Can this library be used to read in already set environment variables too?"
As a Docker user, one can use [--env-file](https://docs.docker.com/engine/reference/commandline/run/#set-environment-variables--e---env---env-file) ([Also see docker-compose](https://docs.docker.com/v17.12/compose/compose-file/#env_file)) to populate the container with the variables.

Can this library still enable the syntax: `env.list('MY_VARIABLE')` for example, where:

- I am proposing that an

[2019-08-15 12:15] dnk8n commented on #233
On further investigation, it appears that `env = environ.Env()` already does what I am asking for. Sorry about that. Maybe I skimmed over the docs too quickly. Is there an example of this? Maybe it could be highlighted better.

Really cool feature. Enjoying using this library. Simplified a lot for me.

[2019-08-28 13:28] #233 closed

[2019-09-08 20:19] vaygr commented on #232
Hey @IvanAnishchuk. Yeah, at least I would be interested.

[2019-09-11 09:33] IvanAnishchuk commented on #232
Meanwhile I found a simple way to do it, looks roughly like this:

[code]

I should probably put it into a simple library so it's reusable easier, it could be used without any modifications on any dict-like or os.environ-like structure, not only with django-environ.

[2019-09-13 10:50] remarkov commented on #88
That really gave me some wtf moments. After reading that wording regarding "filthy magic" I was literally expect it to magically find that my .env is located at the same directory as manage.py which was one level up from settings.py.
Thanks all for this discussion and hints.

[2019-10-25 08:07] auvipy opened #239 "Support Django 3.0"

[2019-10-27 16:22] richardbalwane commented on #146
@memclutter that was the answer.
Someone please close this one.

[2019-10-28 15:18] pablobuenaposada commented on #192
I have been taking a look at this and I cannot see any benefit of this smart casting from default type.

To have a variable that normally is supposed to contain for example an int but in case of no definition from the env you want to explicitly set it to None or False is something common, with the new version this is not possible anymore, you are killing the dynamic typing Python offers.

If you w

[2019-11-15 00:08] variable commented on #76
I have a PR to add ability to point to a env file via environment variable.

[2019-11-19 02:53] mcauto commented on #231
env file

`ALLOWED_HOSTS=example.com,localhost`

[code]

and run

[code]

[2019-11-19 22:57] afilardo opened #243 "Make .env file optional in read_env method"
Hi,

I think that this proposal is interesting because I can imagine that more devs have been in the same situation multiple times:

- I want to use _.env_ file when working locally.
- But it is a bad practice to push _.env_ file to GitHub.
- I have a SECRET_KEY that it is required. If it is no present, Django app will raise `ImproperlyConfigured`, which is fine.
- I don't want to set this env var

[2019-11-26 17:49] gabn88 commented on #92
I tried to add ?%27init_command%27%3A%20%22SET%20sql_mode%3D%27STRICT_TRANS_TABLES%27%22
To my database_url, but unfortunately it doesn't seem to work :(

[2019-12-03 12:47] herrboyer commented on #243
As a workaround you could

[code]

[2019-12-03 12:51] afilardo commented on #243
Yeah, it is what I'm using, but I find it unnecessary

[2019-12-06 16:53] makmary170 commented on #239
+1

[2019-12-07 06:56] wahello commented on #239
+1

[2019-12-17 17:29] eedwards-sk commented on #243
I agree with OP, since `django-environ` should not get in the way of 12factor configuration. Requiring an `.env` file breaks that contract.

[2020-01-04 08:38] gabn88 opened #244 "Comply with Celery cache settings"
As can be seen here: [Celery using Redis docs](https://docs.celeryproject.org/en/latest/getting-started/brokers/redis.html) celery supports redis with sockets. The current support of django-environ of using sockets is, least to say, flawed, see https://github.com/joke2k/django-environ/issues/226.
Maybe it would be a good idea to align with celery for parsing the cache.

[2020-01-27 08:57] ArezKhalimi opened #248 "mongodb url"
It would be great to provide mongo_db URL such as SQL/Redis URL config

[2020-02-08 18:36] JakeUrban commented on #103
I would also like this PR to be merged. I set fake `ENV` variables in my Dockerfile that I need to override with variables from my `.env` file.

[2020-02-10 10:43] codeasashu commented on #55
This is still issue in 0.4.5

[code]

[2020-02-13 22:05] jonbesga commented on #227
I have a similar "issue". Any suggestion to work around this? I like the fact that django-environ is telling me if I miss some required environment variable, but commands like `collectstatic` force me to set the variable to None by default

[2020-02-20 09:09] amazingandyyy commented on #243
this is project is so bad if dev cannot sepefic file name instead of .env, since django runner will always create `.env` folder............. any ideas?????

[2020-02-21 10:56] pix666 commented on #200
A few more examples for which a `SyntaxError` exception is raised by `_cast()`. Esaping does not help.
* `anything-` (minus at the end)
* `anything*` (asterisk at the end)
* `*anything` (asterisk at the start)
* `anything.` (dot at the end)
* `anything.1` (dot near digit)
* `(anything` (unbalanced braces anywhere)
* `anything-v1.2` (God knows why. For some reason `anything-1.2` works well)

I came

[2020-02-22 11:39] yzdann opened #249 "Won't update environ key if it already set"
imagine a case when we need to update some of the production settings in `production.py` base on `base.py`.

[code]

since code used `setdefault` it will ignore to update that in `django-environ/environ/environ.py`
[code]

[2020-03-04 10:02] dureyingenieria commented on #220
@joke2k Do you mean an example like this one?

[code]

[2020-03-14 14:56] shawnngtq commented on #143
@joke2k

If I have multiple environments, the proper way to manage them is to create multiple `env` files?

For example
[code]

[2020-03-14 19:19] joke2k commented on #143
yes definitely!
One .env file for each environment (es: local, staging, production)

[2020-03-14 23:26] joke2k commented on #141
Next release will fix it
https://github.com/joke2k/django-environ/commit/dcd8353946a80b1c5da619f56d05587325ea7a6b
Thank you for waiting... .... :D

[2020-03-14 23:26] #141 closed

[2020-03-15 00:04] #159 closed

[2020-03-15 00:07] #210 closed

[2020-03-16 00:20] joke2k commented on #192
Hi, I added a new option to disable the smart casting.

https://github.com/joke2k/django-environ/commit/4028a79fb174ee875985ab183d346727867108d2

The next release came soon with latest django/python support

[2020-03-16 00:20] #192 closed

[2020-03-19 15:34] gone opened #253 "When loading .env in windows, the Envrion is not populated"
Same script running fine in linux/mac, when running on windows we need to use another project such as python-dotenv to get the .env loaded. Access loaded environment variables works fine though.

[2020-03-19 17:30] jcquarto commented on #239
+1+1 .   Kinda makes django-environ pointless if Django 3 isn't supported

[2020-03-21 16:36] MarkKoz commented on #239
What exactly isn't working in Django 3.0? For my needs, everything is ostensibly working fine so far.

[2020-03-23 09:12] chitak opened #254 "Code block is missing on RTFD for Multiple env files"
The code block is missing for documentation on RTFD.

Please refer to the screenshot below:

**Github README**:
<img width="903" alt="github" src="https://user-images.githubusercontent.com/665982/77299664-c7b68080-6d27-11ea-976e-395148164f59.png">
https://github.com/joke2k/django-environ/tree/dc2d281e45eb41a723549e01e435ae1fe89b0a96#multiple-env-files

**RTFD**:
<img width="706" alt="readthedocs"

[2020-03-30 20:57] jcquarto commented on #239
slightly different than the documentation, I got it to work by doing this (Django 3):

import environ

[code]

[2020-04-02 10:21] rennard commented on #254
+1, just spent quite a while looking for this. Thanks!

[2020-04-04 19:56] juanortizoviedo commented on #213
@vubon not working !!!
my SECRET_KEY=$%=%6asjj77sHFa...
an error ocurred in line 273

Traceback (most recent call last):
  File "/home/user/.cache/pypoetry/virtualenvs/backend--UdpC4sg-py3.6/lib/python3.6/site-packages/environ/environ.py", line 273, in get_value
    value = self.ENVIRON[var]
  File "/usr/lib/python3.6/os.py", line 669, in __getitem__
    raise KeyError(key) from None
KeyError: '6a

[2020-04-28 16:02] nunoh commented on #91
Just run into the same problem. +1

[2020-05-05 16:12] pupattan opened #255 "AttributeError: 'PosixPath' object has no attribute 'read'"
I am getting the following error
[code]

[2020-05-05 17:08] bluesurfer opened #256 "Environment variable with spaces"
This looks trivial but I cannot find a general solution. Suppose I have a `.env` file that contains some environment variables with spaces. For example:

[code]
When getting these variables with `django-environ` and using them inside a template I also get the double quotes and the slash characters.

Initially I tried:
[code]
But that gives me a bash syntax error.

Is there a general solution to st

[2020-05-05 17:24] pupattan commented on #255
The issue with PosixPath. Working while providing path as string

[2020-05-05 17:24] #255 closed

[2020-05-05 20:05] bluesurfer commented on #256
Turns out Docker is responsible for this...

https://github.com/docker/compose/issues/3702

[2020-05-05 20:05] #256 closed

[2020-05-07 08:14] adamkeinan opened #257 "Pycharm user request"
apparently Pycharm uses one or even few ways to set the path variables. by using django-environ i solved the global variables issues regarding working working with various platform on the same project.
i noticed that also in atom some variables are conflicted even after deletion or setting.
some i dont want to delete.
my suggestion is if it possible to use a declaration or another evn. to create s

[2020-05-22 10:36] dwightgunning opened #258 "RTD docs on ENV_PATH are misleading / mis-aligned with 0.4.5 release"
_(I expect this will be resolved in the next release but decided to raise it in case others are tripped up on it like I was. I couldn't find any other issue describing the situation.)_

The section [Multiple env files](https://django-environ.readthedocs.io/en/latest/#multiple-env-files) published to Read The Docs indicates that setting the `ENV_PATH` environment variable will instruct django-envir

[2020-05-28 13:46] dkremer-ledger opened #260 "Why referencing it as "django-environ" ?"
This package should be agnostic, why does the name refer to django ?
Also, the package name is very distant from the module `environ` name, this is very confusing.

[2020-06-02 20:02] #260 closed

[2020-06-18 09:25] Panlq opened #263 "Can read_env provide an encoding parameter?"
Can read_env provide an encoding parameter? , So that the user can open the file according to the file encoding.

[code]

[2020-07-23 08:30] vchrisb opened #264 "alternative socket path for postgis"
For "postgres//..." it is possible to configure an alternative socket path.
This is handled here: https://github.com/joke2k/django-environ/blob/master/environ/environ.py#L405

But this option is not enabled for postgist, making it not possible to configure a non standard socket path.

I guess it should be:
`if url.scheme == 'postgres' or url.scheme == 'postgis' and path.startswith('/'):`

[2020-07-23 16:01] fkromer opened #266 "Add support for channels configuration"
Would be great to have support for [channel layer configuration](https://channels.readthedocs.io/en/latest/topics/channel_layers.html?highlight=configuration#configuration) in `django-environ` :smirk: The in-memory channel layer config is pretty simple. The [channel_redis config](https://github.com/django/channels_redis/#usage) one is more interesting.

[2020-07-24 19:13] dantheman39 commented on #103
Also would love for this to be merged.

[2020-07-30 12:14] fkromer opened #267 "Add support for MQTT URI scheme"
Would be great to have support for the [MQTT URI Scheme](https://github.com/mqtt/mqtt.github.io/wiki/URI-Scheme).

[2020-08-03 18:21] sww314 opened #268 "db_url_config does not handle all postgres urls the same"
In particular, if you are trying to use a Cloud SQL Connection string and use POSTGIS as the engine it sets the database name as the host name.

If you are running on Google Cloud Run and want to connect to Google Cloud SQL instance with postgis, this will fail.

[code]

[2020-08-05 22:27] Palisand opened #270 "django-environ vs python-dotenv"
What are the differences, advantages, and disadvantage of this library and [python-dotenv](https://github.com/theskumar/python-dotenv)? I can't find any documentation regarding this.

[2020-08-09 09:16] mmoallemi99 opened #271 "Escaped Dollar sign ($) in string environment variables not getting cleaned after import"
Hi People,

I've encountered an issue while setting the `EMAIL_HOST_PASSWORD` environment variable.

If you have Dollar sign $ in the beginning of your env variable string `django-environ` treats it as another environment variable (nested variable):
`.env` file:
[code]
`settings.py`
[code]
This configuration raises:
[code]
which as you can see omitted the first $ sign.

Now if we try to escape the

[2020-08-14 00:43] rkelly90 commented on #271
Interestingly enough, I've encountered an issue related to this. My company uses VSCode, and the variable substitution syntax it uses [https://code.visualstudio.com/docs/python/environments#_variable-substitution](https://code.visualstudio.com/docs/python/environments#_variable-substitution) requires the more explicit variable definition of:

`${var}`

If django-environ could support both styles,

[2020-08-14 00:44] rkelly90 commented on #271
Interestingly enough, I encountered an issue related to this yesterday. My organization uses VSCode, and the variable substitution syntax it uses [https://code.visualstudio.com/docs/python/environments#_variable-substitution](https://code.visualstudio.com/docs/python/environments#_variable-substitution) requires the more explicit variable definition of:

`${var}`

This means that, functionally, I

[2020-08-21 18:28] PaulHarrer opened #272 "Can't name env variable 'DJANGO_ENV'"
I recognized that it's not possible to name a variable 'DJANGO_ENV'. I mean you can but it will be always 'DEVELOP' no matter what you really set it in the .env file.

Is there a way to make it work? I didn't read anything about that issue in the documentation.

[2020-08-26 02:23] CyberReverend opened #273 "Improperly Configured Error"
I am receiving the following error when running handsontable_tools.py:

[code]

Any assistance would be greatly appreciated!

[2020-08-29 02:33] asreenu opened #274 "MSSQL 17 driver doesnt work"
db_url only seems to be looking for mssql 13 driver

[2020-09-01 16:02] AstraLuma commented on #266
please, this is rapidly becoming extremely annoying.

[2020-10-12 16:31] yourcelf opened #278 "Clearly specify `.env` file syntax (not like Docker, not like Bash; it's something else)"
The supported syntax of the `.env` file needs to be better specified (possibly as part of #88, but this may be a bigger issue than just that ticket).

Reading the [regex-based parsing](https://github.com/joke2k/django-environ/blob/027b2ef9d7000ce70aafd38b578ad1adb688d78b/environ/environ.py#L657-L667), it's clear that `django-environ` tries to support something bash-ish - it strips leading `export

[2020-10-13 09:31] TravellerSam opened #279 "Reading .pgpass for a Postgresql connection"
Is there a way to read the `.pgpass` file for the database connection? Setting just `DJANGO_DATABASE_URL=postgres://host/database` without credentials would be very handy.

https://www.postgresql.org/docs/12/libpq-pgpass.html

[2020-10-15 12:43] TravellerSam commented on #279
Using [`dj-database-url`](https://github.com/jacobian/dj-database-url) unfortunately doesn't solve it.

[2020-10-18 22:42] craigds opened #280 "Can't use `default=None` with `env.db()`"
the default value gets passed directly to `urlparse()`:

[code]

Happy to PR a fix

[2020-10-29 17:49] ekersten commented on #239
If it helps anyone, I've solved it like this on a Django 3.1.2 project

`<project_dir>/settings/base.py`
[code]

Would be nice to have this included in the docs

[2020-11-05 02:15] zufra commented on #270
https://www.untangled.dev/2020/05/31/django-environment-variables/

[2020-11-19 12:22] Veilkrand commented on #280
I don't think is a bug

[2020-11-22 06:47] craigds commented on #280
agreed, on second thoughts this was a bad idea. I was using this for something that isn't a django db connection, and it was better suited to just using `env.dict()` since the keys ended up not being identical to what django expects

[2020-11-22 06:47] #280 closed

[2020-11-23 15:07] sdementen commented on #249
any update on a fix for this issue ?

[2020-11-23 15:30] sdementen commented on #249
for info, a quick fix can be to add
`env.ENVIRON.setdefault = env.ENVIRON.__setitem__`
just after declaring the env variable (with `environ.Env()`)

[2020-11-24 13:25] sur0g commented on #273
It's not a django-environ problem.
The problem here lies in `/data/crits/crits/core/mongo_tools.py(2)`. There's an import statement that tries to import django settings, which are not configured yet (see the last traceback line).

There's no any configured django instances when you run a file from shell just like that.
You have to set up django settings first. See official django docs for details

[2020-12-29 20:00] lanshark opened #282 "Release anytime soon?"
There has not been a new release since 2018, yet there is a substantial amount of work done in the develop branch.  Will any of this be released soon?

[2021-01-01 07:23] tobiashochguertel commented on #282
Yeah, I was asking me this, too? and I think that the documentation like the example isn't really working or correct?

because it does: `import environ` ... and that looks like: https://pypi.org/project/environ/

I played also around, and delete from my `.venv/` the library `environ` -> `.venv/lib/python-3.9/site-packages/environ` and I see in pycharm that my django project does now miss the `envi

[2021-01-01 12:29] joke2k commented on #282
Hi guys
thank you for writing.

Yes, I definitely make a new release as soon as possible.
If you want to help me, I'll appreciate it.

@tobiashochguertel sorry but the package is working for a long time... maybe there is something in your configuration.
Open a new issue please.

[2021-01-01 17:05] lanshark commented on #282
What can I do to help?  Be happy to!

[2021-01-09 06:02] DanielOram opened #284 "Django improperly configured error if secret key begins with a dollar sign character"
I've come across this error which only seems to occur when using the django-environ package to read a SECRET_KEY from a .env file.

My .env file (with a generated secret key using the get_random_secret_key module from django)

`SECRET_KEY=$q*eo+c&2!)u9^tpd6f=0szxt6+th!j^#z9$1mh!kyen*36($t)`

My settings.py file

[code]

Running this code will generate the following error

`django.core.exceptions.I

[2021-01-14 13:01] AllexVeldman opened #285 "RecursionError when default value starts with a "$""
A RecursionError is raised when the default of a str value is set to a string starting with `$`

[code]

[code]

There is a small chance this happens when using `get_random_secret_key()` as the default.

[code]

Related-to #284

[2021-01-18 08:26] Moon-developer opened #286 "Can't use WindowPath in read_env() method"
Using `pathlib`'s `Path` object to generate a path to a file on windows can't get read by the `read_env` method.

Before:
[code]
After:
[code]

Wondering if library can be updated to handle `WindowsPath` object too?

[2021-01-28 19:41] fdemmer commented on #213
duplicate of long standing issue #60

[2021-01-28 19:42] fdemmer commented on #284
duplicate of long standing issue #60

[2021-01-28 19:42] fdemmer commented on #285
duplicate of long standing issue #60

[2021-02-01 08:07] #285 closed

[2021-02-02 18:14] j0hnnyx commented on #239
I'm using Django 3.1.5 and below works for me:
[code]
But how would I override these settings on django dev server start?
below doesn't work:
`ENV_FILE=.env/.local/.django ./manage.py runserver`

[2021-03-01 01:19] normic commented on #274
I stumbled about this issue today.
After digging around a ~~bit~~ lot, I found a working solution.

You can append the needed driver to the connection url.
So the connection string looks like this:
`pyodbc://username:secretpass@ip.ad.re.ss\SQLEXPRESS/databasename?driver=ODBC%20Driver%2017%20for%20SQL%20Server`

I came up with this simple solution quite early, but with no success.
If one needs the

[2021-03-04 12:10] mpochron commented on #103
Simple to load env file to override environments from settings:

[code]

[2021-03-07 15:56] reyadussalahin opened #288 "Using `#` in a database_url considered as a comment and while parsing it does not even show any warning/error"
I've tried the followings for `django-environ==0.4.5`

First case, using `.db_url_config()`
[code]

Then, using a `.env` file loading using `.read_env()` with same `DATABASE_URL`.
[code]

The problem here is that `django-environ` does not show any warning or error if it receives such values that it can't parse or parse in a wrong manner. It just results in a time wasting debugging for someone who

[2021-03-25 14:06] EmperorArthur opened #289 "Feature Request: Warning if an env.path does not exist"
Hello,

I recently did a very dumb thing and think it might be worth it if this library caught the issue, just in case someone else also makes my mistake.

I put this in my '.env' file:
[code]

Now obviously this spits out a garbage path, and my first reaction is to check for it.  However, this would be a perfectly valid path:
[code]

So, instead of trying to do complicated parsing, why not just c

[2021-03-29 08:41] sandeepbalagopal09 commented on #72
is this support added ?

[2021-04-14 15:44] Dantemss commented on #165
It's not just dictionaries.

When a .env file is generated using shlex.quote() and one of the string values contains a single quote (like a password for example) then the value is improperly parsed by django-environ. Example:

[code]

If I source this file directly and read os.environ, the value of MYTEST is "Hello'World"
If I read the .env file through django-environ, the value of MYTEST is 'Hell

[2021-04-14 18:58] nniehoff commented on #282
Any updates here?  We'd love to use django-environ but are a little leary because it's been a while since a release.

[2021-04-21 19:34] jsatt opened #292 "Could we get a new release"
It's been a couple years since the last release and there have been many PRs merged and the version even bumped to 1.0.0. Any way we can get a release so we can use these updated features? I need #211 in particular.

[2021-04-28 17:44] shayneoneill commented on #292
Or at least put up a note saying the package isn't useable rigt now. I've spent hours trying to track down a problem, only to discovered its been fixed in a version that hasnt been released yet.

[2021-05-03 19:28] Dantemss commented on #278
In particular, the output of `shlex.quote()` when it wraps quotes, which looks like `'"'"'`, is not supported.
Workaround is to use a .env file with `export` on every line and force all scripts to source the .env file before launching django rather than relying on `read_env`.

[2021-05-03 20:15] sergeyklay commented on #292
For those who can't wait features from `develop` branch to be released:

**`requirements.txt`:**
[code]

**`setup.py`:**
[code]

[2021-05-05 02:58] RyanBalfanz commented on #292
What problem is that?

[2021-05-05 18:25] nniehoff commented on #292
This is a dup of #282

[2021-05-06 19:26] sergeyklay commented on #282
@joke2k Could you please take a look by any chance? Maybe, if you don't have time for this, you could give someone the appropriate rights?

[2021-05-08 04:31] shayneoneill commented on #292
It wasn't finding the .env file, latest version of Django, or was ignoring it. Moving to a version directly from devel on this repo fixed it instantly

[2021-05-08 07:24] joke2k commented on #282
@sergeyklay if you, or somebody else are interested, please contact me on discord python. Let's talk about that

[2021-05-10 12:04] efojs commented on #76
Guys 🤦‍♂️
Spaces around ` = ` (equal sign) in `.env` file caused the same problem and nothing helped:
`SECRET_KEY = <secret_key>`

Removing them solved the problem:
`SECRET_KEY=<secret_key>`

[2021-05-20 00:27] danielrsilveira opened #294 "Incorrect parsing of DATABASES_URL for Google Cloud MySQL"
I was trying to connect a Django instance to Google Cloud MySQL using django-environ in a codelab, and found an error in the parsing of DATABASES_URL for google cloud.

The url set in `.env` was:
`DATABASE_URL="mysql://djuser:hidden-password@//cloudsql/arvore-codelab:us-central1:mysqlinstance/mydatabase"`

Fix in `settings.py`
[code]

Log during building in Google Cloud Build:
[code]

This issue w

[2021-05-21 08:49] lociii commented on #271
Would really love to see this fixed as it's also preventing our organization from moving the SECRET_KEY to env.

[2021-05-21 11:28] valentinschabschneider opened #295 "Support for mssql-django"
There is an official django-mssql-backend port by Microsoft in the making.
To use it you have to provide "mssql" as the engine.
https://github.com/microsoft/mssql-django#installation

Currently django-environ maps "mssql" to "sql_server.pyodbc".
https://github.com/joke2k/django-environ/pull/157

Don't know what the solution is, but it would be nice if there's a way to configure mssql-django in the

[2021-05-21 11:41] valentinschabschneider commented on #295
Either remove the mapping from Env.DB_SCHEMES or add another one like "mssql2".

Hotfix:
[code]

[2021-06-16 12:36] tonnyhideyori commented on #7
when i put my username, password ,host and port the docker-compose build breaks.
bringing this error :
ValueError: invalid literal for int() with base 10: 'B******3'
ERROR: Service 'nginx' failed to build: The command '/bin/sh -c env DD_SECRET_KEY='.' python3 manage.py collectstatic --noinput && true' returned a non-zero code: 1
I edited in settings.dist.py
EMAIL_CONFIG = env.email_url(
'DD_EMAIL_

[2021-06-17 10:43] 1oglop1 opened #298 "urlparse, urlsplit confused when password includes fragment (#), query (?)"
Hi,
I just got bitten by this bug in python https://bugs.python.org/issue18140 which effectively affects `django-environ` that depends on `urlparse`.

Example:
`.env` file
[code]
`settings.py` file
[code]

results in:
[code]

This issue has been fixed in `python 3.10`.

Until then, the workaround is to use `urllib.parse.quote` on the secret value.

[code]

resulting in url like this `postgres://Au

[2021-06-17 10:44] 1oglop1 commented on #298
Also closing this issue since I found workaround and it will be fixed with the latest Python version.

[2021-06-17 10:44] #298 closed

[2021-06-18 07:46] gp-saurabh commented on #271
We are having the same issue, Is it fixed yet?

[2021-06-19 07:26] tonnyhideyori opened #299 "EMAIL_URL error"
when i put my username, password ,host and port the docker-compose build breaks.
bringing this error :
ValueError: invalid literal for int() with base 10: 'B*\*\*\*\*\*3'
ERROR: Service 'nginx' failed to build: The command '/bin/sh -c env DD_SECRET_KEY='.' python3 manage.py collectstatic --noinput && true' returned a non-zero code: 1
I edited in settings.dist.py
EMAIL_CONFIG = env.email_url(
    '

[2021-06-20 16:55] sergeyklay commented on #271
I fixed this in my own fork https://github.com/sergeyklay/django-environ-2/blob/master/docs/essentials.rst#interpolate-environment-variables

[2021-06-21 21:14] #299 closed

[2021-07-01 11:18] dsever opened #300 "Complex format in env variables"
Hi,

I would like to use help from the community for our problem, we have SAML module that is expecting a little bit complex configuration format as:

[code]
But we are facing the problem, we can't find proper way how to register linux env variable to be parsed into format above, so any help would me useful.

Thanks

[2021-07-02 16:28] mrhili opened #301 "Aws uploading problem"
version : django-environ==0.4.5
python 3.7.7

litle bit of code :

import environ
env = environ.Env(
    # set casting, default value
    DEBUG=(bool, False)
)

# reading .env file
environ.Env.read_env()

# False if not in os.environ
DEBUG = env('DEBUG')

------------

ERROR :

-----

[1625234908328] [DEBUG] 2021-07-02T14:08:28.327Z 8a6b0e35-3607-46fa-b334-fc9aab6d736c Read environment variables f

[2021-07-14 04:55] 1oglop1 commented on #288
@reyadussalahin I think this is a dupe of #298

[2021-07-14 07:12] 1oglop1 commented on #282
@joke2k, @sergeyklay
I noticed that @sergeyklay has made his own fork, just to release the features.
I wonder if you guys did not manage to chat together.
As an alternative, we can try to contact https://jazzband.co/ for the maintenance of the project.
There may be a similar organisation for Django specific projects.

[2021-07-23 03:03] #270 closed

[2021-07-23 11:30] eriklesbr commented on #271
Fixed official?

[2021-07-23 11:30] eriklesbr commented on #271
Correction done?

[2021-07-23 18:05] jonprindiville commented on #300
I know that it is possible to get a dict that maps string->list by doing the following:

[code]

[code]

Note the dict being passed to `cast=` ☝️.  The resulting dict would be:

    {
        "key1": ["list-item1"],
        "key2": ["list-item1", "list-item2"],
    }

---

If you definitely need tuples and not list, then maybe this kind of thing works for you if you do `cast={"value": tuple}` in t

[2021-08-11 08:36] piscvau commented on #278
I am not an expert but sincerely understanding the syntax of dict form the 2 lines of the project description is difficult :
 dict (BAR=key=val,foo=bar) #environ.Env(BAR=(dict, {}))
- dict (BAR=key=val;foo=1.1;baz=True) #environ.Env(BAR=(dict(value=unicode, cast=dict(foo=float,baz=bool)), {}))

[2021-08-25 05:24] tacan commented on #214
Hey guys, I am using django-environ with Django3.2 now and the list or tuple syntax you suggest isn't working. I am using a somewhat ugly workaround like so.

The line in my .env file is;
ALLOWED_HOSTS=["localhost", "127.0.0.1", "serviskayit.viessmann.com.tr"]

The line in my settings.py is;
ALLOWED_HOSTS = json.loads(env('ALLOWED_HOSTS'))

Hope it helps as a band-aid but I also hope to see a fix.

[2021-08-29 19:43] sergeyklay commented on #7
@tonnyhideyori Please take a look at my answer for your issue in my fork https://github.com/sergeyklay/django-environ-2/issues/21#issuecomment-907619822

[2021-08-30 10:32] sergeyklay commented on #282
I contacted @joke2k several times in Discord. But unfortunately, he was so busy that he did not answer me anything (except a greeting). I waited a week or so and wrote to him again. The reply was the same (nothing). Third time, I waited a week and wrote to him again. The same.

I'm maintaining several projects that depend on django-environ. This is why it is important for me to timely accept patch

[2021-08-30 10:53] joke2k commented on #282
@sergeyklay if you check discord you can see that I replied to you on the 21st of June and today...

[2021-08-30 12:03] sergeyklay commented on #282
Status update for the community: We contacted with @joke2k (finally!) and successfully discussed all the details. We came to a general agreement that I become one of the maintainer of django-environ. I will take up my duties in the coming days, as soon as I get the necessary rights.

[2021-08-30 12:47] sergeyklay commented on #292
Close in favour of #282

[2021-08-30 12:47] #292 closed

[2021-08-30 13:00] sergeyklay commented on #288
Internally django-environ uses `urllib` to parse URL-like schemas. In turn, `urllib` follows [RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986) to parse URIs. Therefore, you should encode all unsafe characters in the  userinfo part to achieve the expected behavior from django-environ.

Consider the following **wrong** example:

[code]

[code]

Here, the number sign (`#`) was passed as unenc

[2021-08-30 13:00] #288 closed

[2021-08-30 13:02] sergeyklay commented on #298
@1oglop1 Please take a look at this answer https://github.com/joke2k/django-environ/issues/288#issuecomment-908320933

[2021-08-30 13:05] sergeyklay commented on #194
@ajhodges Please take a look at this answer https://github.com/joke2k/django-environ/issues/288#issuecomment-908320933

[2021-08-30 13:05] #194 closed

[2021-08-30 13:07] sergeyklay commented on #200
Possible related https://github.com/joke2k/django-environ/issues/288#issuecomment-908320933

I'll try to sort out

[2021-08-30 20:41] sergeyklay commented on #282
v0.5.0 version was released a few minutes ago:

- https://github.com/joke2k/django-environ/releases/tag/v0.5.0
- https://pypi.org/project/django-environ/0.5.0/

[2021-08-30 20:41] #282 closed

[2021-08-30 20:43] sergeyklay commented on #212
Please take a look at this answer https://github.com/joke2k/django-environ/issues/288#issuecomment-908320933

[2021-08-30 20:43] #212 closed

[2021-08-30 20:45] sergeyklay commented on #84
Python 3.5 no longer supported. I'm sorry for the delay.

[2021-08-30 20:45] #84 closed

[2021-08-30 22:17] sergeyklay commented on #102
I apologize @brianmay for completely overlooking this. Thank you for the report. I know some people think this kinds of changes are trivial, but personally I believe it is important to get everything right, including CI configuration, dependency management, tests structure, and so on. Now this is resolved in [`develop`](https://github.com/joke2k/django-environ/pull/307) branch.So thanks again for

[2021-08-30 22:17] #102 closed

[2021-08-31 10:50] sergeyklay commented on #258
This is resolved in [`develop`](https://github.com/joke2k/django-environ/pull/308) branch. Thank you for the patch, and for helping us make django-environ better. And I am sorry about the delay.

[2021-08-31 10:50] #258 closed

[2021-08-31 10:52] sergeyklay commented on #254
This is resolved in [`develop`](https://github.com/joke2k/django-environ/pull/308) branch. Thank you for the report, and for helping us make django-environ better. And I am sorry about the delay.

[2021-08-31 10:52] #254 closed

[2021-08-31 11:05] sergeyklay commented on #239
This is resolved in [`develop`](https://github.com/joke2k/django-environ/pull/307) branch. Thank you for the report, and for helping us make django-environ better. And I am sorry about the delay.

[2021-08-31 11:05] #239 closed

[2021-08-31 22:10] sergeyklay commented on #106
This is resolved in [`develop`](https://github.com/joke2k/django-environ/pull/313) branch. Thank you for the report, and for helping us make django-environ better. And I am sorry about the delay.

[2021-08-31 22:10] #106 closed

[2021-08-31 22:28] sergeyklay commented on #286
This is resolved in [`develop`](https://github.com/joke2k/django-environ/pull/313) branch. Thank you for the report, and for helping us make django-environ better. And I am sorry about the delay.

[2021-08-31 22:28] #286 closed

[2021-08-31 22:31] sergeyklay commented on #253
@gone Could you please provide the minimal code to reproduce?

[2021-08-31 22:41] #231 closed

[2021-08-31 22:42] sergeyklay commented on #229
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2021-08-31 22:42] #229 closed

[2021-08-31 22:47] sergeyklay commented on #257
I'm sorry, but I did not understand anything, haha. Sounds like a request to add new functionality related to your workflow?
Anyway I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2021-08-31 22:47] #257 closed

[2021-09-01 07:30] sergeyklay opened #314 "Add elasticsearch7 to search scheme"

[2021-09-01 15:30] sergeyklay commented on #187
I'd like django-environ remain simple as long as possible. I'd not complicate its codebase without an urgent and obvious need. To all those who want to work with relative paths, I would recommend some kind of approach like this:

[code]

[code]

[2021-09-01 15:30] #187 closed

[2021-09-01 17:02] sergeyklay commented on #268
This is resolved in [`develop`](https://github.com/joke2k/django-environ/pull/315) branch. Thank you for the report, and for helping us make django-environ better. And I am sorry about the delay.

[2021-09-01 17:02] #268 closed

[2021-09-01 18:12] sergeyklay commented on #47
The comment https://github.com/joke2k/django-environ/issues/47#issuecomment-167254176  explains how to get tuple of tuples. And the comment https://github.com/joke2k/django-environ/issues/47#issuecomment-461832572 demonstrates how to get list of tuples, such as ADMINS or MANAGERS. Closing this.

[2021-09-01 18:12] #47 closed

[2021-09-01 21:52] sergeyklay commented on #75
The comment https://github.com/joke2k/django-environ/issues/47#issuecomment-167254176  explains how to get tuple of tuples. And the comment https://github.com/joke2k/django-environ/issues/47#issuecomment-461832572 demonstrates how to get list of tuples, such as ADMINS or MANAGERS. Finally, the comments explains how to use custom cat function. https://github.com/joke2k/django-environ/issues/75#issu

[2021-09-01 21:52] #75 closed

[2021-09-01 22:01] sergeyklay commented on #74
To set default values for a non existent variable use the following approach:

[code]

[2021-09-01 22:01] #74 closed

[2021-09-01 22:05] #78 closed

[2021-09-01 22:12] sergeyklay commented on #79
If you get an infinite recursion when using environ most likely you have an unresolved and perhaps unintentional proxy value in an environ string. For example, consider the following use case:

**settings.py file**:
[code]

In the example above the environment variable `not_present` does not exist and the default value happens to start with a `$`.  This is assumed to be a "proxy variable" and look

[2021-09-01 22:12] #79 closed

[2021-09-01 22:20] sergeyklay commented on #82
The main idea behind this project is to operate a simple env file containing key-value pairs. Implementing inheritance is beyond the scope of this project. I'm sorry, this won't be implemented.

[2021-09-01 22:20] #82 closed

[2021-09-01 22:30] sergeyklay commented on #87
I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) The issue #139 explains the acceptable way to handle such use cases. If anyone wants to get started, I'd love that.

[2021-09-01 22:30] #87 closed

[2021-09-01 22:54] sergeyklay commented on #90
This curious idea actually has nothing to do with the current project (except it can use django-environ under the hood). Also as far as I can see the described project has successfully released. I want to close this issue because I don't want a bunch of these lying around. Thank you for the feedback and keeping us informed about your project :)

[2021-09-01 22:54] #90 closed

[2021-09-04 11:03] 1oglop1 commented on #298
@sergeyklay Thanks. I think it's a good enough solution to mention this in docs!
I got caught by that by surprise. Now it would be nice if we could combine it with #127.
It's not very compatible with `pg_*` tools because some of them support URL but some require each part as an argument.
However, all `pg_*` tools read `.pgpass`.
https://www.postgresql.org/docs/13/libpq-envars.html

I'd welcome any

[2021-09-04 16:25] sergeyklay commented on #160
This is resolved in [`develop`](https://github.com/joke2k/django-environ/pull/318) branch. Thank you for the report, and for helping us make django-environ better. And I am sorry about the delay.

[2021-09-04 16:25] #160 closed

[2021-09-04 16:35] sergeyklay commented on #232
@IvanAnishchuk Could you please send a PR?

[2021-09-04 16:41] sergeyklay commented on #273
I'm closing since this is a not a bug report. Please check the mentioned solution. If you are still experiencing this and have some more additional info feel free open a new issue.

[2021-09-04 16:41] #273 closed

[2021-09-04 16:46] sergeyklay commented on #196
Yet another solution is to use `DATABASES['default'].update({'TEST': {'NAME': 'mytestdatabase'}})`

[2021-09-04 16:47] sergeyklay commented on #196
I'm closing since this is a not a bug report. Please check the mentioned solutions. If you are still experiencing this and have some more additional info feel free open a new issue.

[2021-09-04 16:47] #196 closed

[2021-09-04 20:05] sergeyklay commented on #214
[code]

[code]

[2021-09-04 20:05] #214 closed

[2021-09-04 20:07] sergeyklay commented on #214
Also see: https://github.com/joke2k/django-environ/issues/231#issuecomment-555308761

[2021-09-04 20:07] sergeyklay commented on #214
I'm closed since this is a not a bug report. Please check the mentioned solutions. If you are still experiencing this and have some more additional info feel free open a new issue.

[2021-09-04 20:21] sergeyklay commented on #172
I want to close this issue because I don't want a bunch of these lying around. I'd like to add support for anything/everything at some point, but keeping the issue open doesn't help that. :) If anyone wants to get started, I'd love that.

[2021-09-04 20:21] #172 closed

[2021-09-04 21:11] sergeyklay commented on #118
As far as [I see this was](https://github.com/joke2k/django-environ/pull/319) fixed. Currently all tests pass successfully. Thank you for the report, and for helping us make django-environ better. And I am sorry about the delay.

[2021-09-04 21:11] #118 closed

[2021-09-04 21:12] sergeyklay commented on #120
As far as [I see this was](https://github.com/joke2k/django-environ/pull/319) fixed. Currently all tests pass successfully. Thank you for the report, and for helping us make django-environ better. And I am sorry about the delay.

[2021-09-04 21:12] #120 closed

[2021-09-04 21:18] #119 closed

[2021-09-04 21:19] #121 closed

[2021-09-04 21:20] #146 closed

[2021-09-04 21:22] #149 closed

[2021-09-05 00:35] #213 closed

[2021-09-05 09:00] sergeyklay commented on #314
Implemented

[2021-09-05 09:00] #314 closed

[2021-09-06 08:08] jgadelange commented on #74
@sergeyklay I understand that that is how to set a default value. However I believe `EMAIL_USE_TLS`/`EMAIL_USE_SSL` should be configured through the `EMAIL_URL` setting. So adding sepparate `EMAIL_USE_TLS`/`EMAIL_USE_SSL` env vars doesn't feel like the solution here (especially since sometimes the value is filled from `EMAIL_URL`).

I would still say that there should be a default value (or some d

[2021-09-06 08:31] sergeyklay commented on #243
This is resolved in [`develop`](https://github.com/joke2k/django-environ/pull/251) branch. Thank you for the report, and for helping us make django-environ better. And I am sorry about the delay.

[2021-09-06 08:31] #243 closed

[2021-09-06 18:12] Yogeshddjango opened #324 "ModuleNotFoundError: No module named 'environ' :: With celery and supervisor"
When Celery run  background at that time I get
ModuleNotFoundError: No module named 'environ',
can any guide me how to setup this in production

[2021-09-06 22:20] sergeyklay commented on #324
@Yogeshddjango Could you please provide a minimal code to reproduce?

[2021-09-06 23:34] sergeyklay commented on #301
@mrhili Could you please try [latest stable release](https://github.com/joke2k/django-environ/releases/tag/v0.6.0)?

[2021-09-06 23:37] sergeyklay commented on #272
@Smort1 Could you pleas provide a minimal code to reproduce the issue?

[2021-09-07 10:10] sergeyklay commented on #200
This is resolved in [`develop`](https://github.com/joke2k/django-environ/pull/325) branch. Thank you for the report, and for helping us make django-environ better. And I am sorry about the delay.

[2021-09-07 10:10] #200 closed

[2021-09-07 11:41] Yogeshddjango commented on #324
from __future__ import absolute_import, unicode_literals
import os
import environ

from celery import Celery
from django.conf import settings
from celery.schedules import crontab
# set the default Django settings module for the 'celery' program.

BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

env = environ.Env()
environ.Env.read_env(env_file=os.path.join(BASE_DIR, '.env'))

[2021-09-07 12:40] sergeyklay commented on #324
It is easy to verify django-environ is installed using the following approach _inside your Celery app_:
[code]

Could you please try something like that to ensure django-environ is installed?

[2021-09-07 17:34] Yogeshddjango commented on #324
Yes, I tried and I got this

['amqp==5.0.6', 'anyjson==0.3.3', 'arabic-reshaper==2.1.1', 'asgiref==3.3.1', 'beautifulsoup4==4.9.3', 'billiard==3.6.4.0', 'boto3==1.17.40', 'botocore==1.20.40', 'cached-property==1.5.2', 'celery==5.1.2', 'cffi==1.14.4', 'click-didyoumean==0.0.3', 'click-plugins==1.1.1', 'click-repl==0.1.6', 'click==7.1.2', 'cryptography==3.3.1', 'cssutils==2.3.0', 'defusedxml==0.7.1'

[2021-09-07 18:16] sergeyklay commented on #324
What is the output of `help('modules environ')` inside the celery app?

[2021-09-09 13:05] Yogeshddjango commented on #324
Sorry for late reply..
I put you codes in production and I got this, django-environ not installed, when I run supervisor

['amqp==5.0.6', 'anyjson==0.3.3', 'arabic-reshaper==2.1.1', 'asgiref==3.3.1', 'beautifulsoup4==4.9.3', 'billiard==3.6.4.0', 'boto3==1.17.40', 'botocore==1.20.40', 'cached-property==1.5.2', 'celery==5.1.2', 'cffi==1.14.4', 'click-didyoumean==0.0.3', 'click-plugins==1.1.1', 'clic

[2021-09-09 16:09] sergeyklay commented on #324
The problem could occur due to the following reasons:

- You're using virtual environment, but you installed module **outside** the virtual environment
- You're **not using virtual environment**, but you installed module inside the virtual environment
- You're using one virtual environment to install django-environ, and **another** virtual environment  to run celery app

[2021-09-09 19:49] Yogeshddjango commented on #324
@sergeyklay Thanks for the help I found the issue, I created an executable file in the environment for running celery and also write code to activate env, the path of activating ENV is wrong that's why it's creating an issue.

[2021-09-09 19:49] #324 closed

[2021-09-09 20:00] sergeyklay commented on #324
You're welcome :)

[2021-09-13 09:57] #217 closed

[2021-09-15 07:53] #189 closed

[2021-09-15 07:57] sergeyklay commented on #189
This is resolved in [`main`](https://github.com/joke2k/django-environ/pull/328) branch. Thank you for the report, and for helping us make django-environ better. And I am sorry about the delay.

[2021-09-16 08:18] ratondeau commented on #271
Same here switched to python-dotenv in the meantime, but this is not a good replacement as you have to do type conversion by yourself e.g. for int and list values.

[2021-09-19 04:56] Xoma163 commented on #253
[code]

[code]

[2021-09-20 16:32] eriklesbr commented on #271
@mmoallemi99 I'm currently using your suggestion, but many still have this problem, any forecast when they will analyze and fix this bug?

[2021-09-21 09:34] sergeyklay commented on #271
I'l sort out with this ASAP.

[2021-09-23 11:28] kyungjunleeme commented on #219
In my case,

In settings.py

DATABASES = {
    # The db() method is an alias for db_url().
    'default': env.db(),
}

In .env
DATABASE_URL=postgres://user:password@host/name (your have to replace example data your data

[2021-09-27 15:27] sergeyklay commented on #249
This is resolved in [`develop`](https://github.com/joke2k/django-environ/pull/329) branch. Thank you for the report, and for helping us make django-environ better. And I am sorry about the delay.

[2021-09-27 15:27] #249 closed

[2021-09-27 15:27] sergeyklay commented on #103
This is resolved in [`develop`](https://github.com/joke2k/django-environ/pull/329) branch. Thank you for the report, and for helping us make django-environ better. And I am sorry about the delay.

[2021-09-27 15:28] #103 closed

[2021-10-05 10:33] mehdy commented on #186
@sergeyklay Would you mind if I work on this?

[2021-10-05 10:46] sergeyklay commented on #186
@mehdy This is still in my plans, I'm sorry, a bit busy at work these days. I'll try to sort out ASAP.

[2021-10-05 10:55] mehdy commented on #186
@sergeyklay Actually, I was hoping you'd let me contribute :P

[2021-10-05 11:16] sergeyklay commented on #186
@mehdy Ah, PRs are always welcome!

[2021-10-05 14:09] mehdy commented on #186
@sergeyklay I tried to reprodue the issue but I couldn't. You may close the issue.

[2021-10-05 16:28] sergeyklay commented on #186
Could you plese send a test?

[2021-10-05 18:33] mehdy commented on #186
@sergeyklay Sure!

[2021-10-06 08:16] #186 closed

[2021-10-06 08:17] sergeyklay commented on #186
I'm closing since this is a not a bug, but if I have made an oversight, please do get back in touch. Thanks.

[2021-10-06 18:59] sergeyklay commented on #253
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2021-10-06 18:59] #253 closed

[2021-10-06 19:19] sergeyklay commented on #301
I'm closing this issue due to the lack of any reaction. I'll open it again if the need arises

[2021-10-09 07:39] sergeyklay commented on #294
This is resolved in [`develop`](https://github.com/joke2k/django-environ/pull/334) branch. Thank you for the report, and for helping us make django-environ better.

[2021-10-12 21:53] #272 closed, assigned to sergeyklay

[2021-10-16 18:22] WhyNotHugo opened #337 "Trailing slash breaks `pymemcached`"
When using `pymemcached`, a trailing slash in the URL breaks. This works:

    export CACHE_URL="pymemcache://memcached:11211?key_prefix=ci"

But this fails with a `ConnectionRefusedError: [Errno 111] Connection refused`:

    export CACHE_URL="pymemcache://memcached:11211/?key_prefix=ci"

[2021-10-17 12:46] sergeyklay commented on #337
Thank you for reporting. I'll try to sort out ASAP.

[2021-10-18 14:19] KenWhitesell opened #340 "Version 0.8.0 generates "Invalid line" error on blank lines in file"
A blank line in an env file causes Django's manage.py to show "Invalid line" messages. This occurs even if no sub-command is specified.

An error is also thrown on a line beginning with an octothorpe ("#") - something that we use to comment those files.

The Usage docs don't specifically state that these are legal lines. However, the example further down on that page uses them within the example.

[2021-10-19 20:39] sergeyklay commented on #340
Fixed in [`develop`](https://github.com/joke2k/django-environ/pull/339) branch. I'll release a hotfix ASAP. Thank you for reporting.

[2021-10-19 20:39] #340 closed, assigned to sergeyklay

[2021-10-19 21:23] #337 closed, assigned to sergeyklay

[2021-10-20 21:09] sergeyklay commented on #271
I apologize @fdemmer for completely overlooking this issue. Thank you for the reminder.

**Version v0.8.0** with an ability to escape dollar sign (`$`) was released 3 days ago:

- https://github.com/joke2k/django-environ/releases/tag/v0.8.0
- https://pypi.org/project/django-environ/0.8.0

For details and usage please refer the documentation: https://django-environ.readthedocs.io/en/latest/tips.htm

[2021-10-20 21:09] #271 closed

[2021-10-21 07:55] sergeyklay commented on #300
This was covered by https://github.com/joke2k/django-environ/pull/344. Thank you for the contributing, and for helping us make django-environ better.

[2021-10-21 07:55] #300 closed

[2021-11-01 12:30] kristinaDek opened #345 "env.list() does not do strip ?"
Why does env.list() not doing stip also?

[2021-11-01 16:41] sergeyklay commented on #345
Could you please provide a bit more info and, if possible the code to reproduce.

[2021-11-08 13:51] dyohan9 opened #348 "Support for flask or fastapi"
Do we currently have any support for flask or fastapi? is it possible to use this lib for these two frameworks?

[2021-11-17 21:26] kristinaDek commented on #345
I will use example from https://django-environ.readthedocs.io/en/latest/tips.html#nested-lists:
'.env' file:
DJANGO_ADMINS=Blake:blake@cyb.org, Alice:alice@cyb.org,Juls:juls@cyb.org
if we do:
`ADMINS = env.list('DJANGO_ADMINS')`
ADMINS will look like:
 ['Blake:blake@cyb.org', ' Alice:alice@cyb.org', 'Juls:juls@cyb.org']
so you must take care when entering values, (mind on space), .list() will not

[2021-11-20 09:14] sergeyklay commented on #345
There are many approaches to getting a list of already processed email addresses without making a change to django-environ library. For example:

[code]

[code]

Sorry, but I'm not sure if we should include this into the library codebase. Instead of addresses, there may be something else where removing leading whitespace can be harmful.

[2021-11-20 09:14] #345 closed

[2021-11-22 19:28] zacwellmer commented on #284
@sergeyklay is there a way to not to escape backslashes when reading environment variables? I'm able to successfully load a private key with python-dotenv but am having issues when loading with django-environ

[2021-11-29 10:24] cic79 opened #351 "Support for behaviors of pylibmc"
I am using django-environ and pylibmc as backend.
It would be nice to be able to set [behaviors](http://sendapatch.se/projects/pylibmc/behaviors.html) directly in the env.
Something like:
`CACHE_URL=pymemcache://127.0.0.1:11211?TIMEOUT=6000&BEHAVIOR:ketama=1&BEHAVIOR:remove_failed=1&BEHAVIOR:retry_timeout=1&BEHAVIOR:dead_timeout=60`

[code]

[2021-12-03 15:39] amartya-dev opened #353 "Syncing the .env file with the defined environment variables"
I want to use a hybrid of both approaches, I should either be able to dump all the environment variables in the env file or set them manually as environment variables and we should be able to pick it up from either place when using django-environ,

Is this behavior possible with the current version?

Reasons:
- We can keep some aspects of our application configurable and supply environment variabl

[2021-12-04 03:36] sergeyklay commented on #284
@zacwellmer Current issues is duplicate for https://github.com/joke2k/django-environ/issues/60 and is related to using the dollar sign at the beginning of the value. Could you please open a new issue with code to reproduce?

[2021-12-04 03:37] #284 closed

[2021-12-04 03:40] sergeyklay commented on #60
I'm closing this issues in favor of https://github.com/joke2k/django-environ/issues/271

[2021-12-04 03:40] #60 closed

[2021-12-04 03:42] sergeyklay commented on #207
I am closing this issue as a duplicate https://github.com/joke2k/django-environ/issues/271

[2021-12-04 03:42] #207 closed

[2021-12-04 03:52] sergeyklay commented on #353
Are you want to be able to overwrite the .env file? Did I understand you correctly? If so, then there is no such possibility now. In any case, it is not clear to me why this might be needed. OS environment variables always take precedence over env-file variables.

[2021-12-04 05:08] amartya-dev commented on #353
No I don't want to overwrite the env file, I was just wondering if the env variables set on the kernel take precedence over what we might read from the file, and as that is the case here, I think we're good :)

Thank you very much for answering this

[2021-12-04 10:25] #353 closed

[2021-12-04 10:37] sergeyklay commented on #353
Yes, the env variables set on the OS take precedence:
[code]

[code]

[code]

If you want variables set within your env files to take higher precidence than an existing set environment variable, use the `overwrite=True` argument of `read_env`. For example:

[code]

[2021-12-06 08:55] sajid-1114 opened #354 ""Invalid line" error if key is quoted"
It generates "Invalid line" errors if keys are quoted. e.g.
"ENV"="environment"

[2021-12-12 23:43] glasnt opened #356 "Feature request: support default redis backend"
As of Django 4.0, there is now core support for the [redis backend](
https://docs.djangoproject.com/en/4.0/topics/cache/#redis).

Currently, `django-environ` detects uses package inspection to work out which redis backend to use (in [environ/compat.py](https://github.com/joke2k/django-environ/blob/main/environ/compat.py#L35)), which uses `redis_cache` if detected, or it defaults to `django_redis`.

[2021-12-13 00:22] glasnt commented on #356
TIL while writing tests that `Env.cache_url_config` exists, and so there is a workaround for now (which I couldn't find any explicit documentation for:

[code]

Also looking through the tests, I realise supporting Django 4 is not something this package currently does, and there would be copious test changes to ensure Django 4 support in the first place.

For reference, here is the base code I sugg

[2021-12-13 02:45] glasnt commented on #356
It may also make sense to use a new scheme for the core redis, much like how there's `memcache` and `pymemcache`. That should help more with backwards compat.

[2021-12-13 15:26] KyleKaniecki opened #357 "Fix _cast_urlstr to use unquote vs unquote_plus"
Currently, `Env.db_url_config` uses `_cast_urlstr` to url unquote the username and password from database connection URIs. The underlying problem occurs when you try to use a `+` in your postgres password.

`_cast_urlstr` uses `unquote_plus`, ([introduced in this PR here](https://github.com/joke2k/django-environ/pull/69)), which which will turn plus signs into spaces when unquoted. This is undesir

[2021-12-21 17:31] uri-rodberg opened #359 "How do I replace MemcachedCache with PyMemcacheCache in Django?"
`CACHES` in settings is not defined as I expect it. Possibly a bug. Please see below.

https://stackoverflow.com/questions/70438274/how-do-i-replace-memcachedcache-with-pymemcachecache-in-django

I'm running my website on Django 3.2. I read in [Django’s cache framework][1] that `MemcachedCache` and `python-memcached` are deprecated. I installed `pymemcache==3.5.0` on my staging server and changed

[2021-12-22 00:06] gone commented on #197
Also got bit by this - fix was updating settings:
from
`STATIC_ROOT = root("static")`

to

`STATIC_ROOT = root.path("static")
`

[2021-12-22 02:36] uri-rodberg commented on #359
I don't know why, but the way I restarted my server during deploy doesn't refresh `env.ini`, and the server remembers the old settings. If I restart my server with `sudo reboot`, with the same settings, then `CACHES` is equal to `{'default': {'BACKEND': 'django.core.cache.backends.memcached.PyMemcacheCache', 'LOCATION': '127.0.0.1:11211'}}` and the site works properly. And I confirmed that if I pu

[2021-12-23 23:37] fertek commented on #359
Possible duplicate of https://github.com/joke2k/django-environ/issues/103.

[2021-12-30 16:05] SebastiaanZ opened #360 "Attach cause to ImproperlyConfigured exception raised for missing environment variables"
I'd like to propose to add the original exception as the cause of the `ImproperlyConfigured` exception that's raised when an environment variable is missing using `raise ... from ...`:

[code]

The original:

https://github.com/joke2k/django-environ/blob/509cf7737363a56e4464962dbae4ab72b801c7b3/environ/environ.py#L366-L371

Note: Since it's a two-line change, I've opened #361 to introduce this cha

[2022-01-02 15:29] sergeyklay commented on #357
Fixed in https://github.com/joke2k/django-environ/pull/358. Thank you for contributing!

[2022-01-02 15:29] #357 closed

[2022-01-02 15:43] sergeyklay commented on #360
Implemented in https://github.com/joke2k/django-environ/pull/361. Thank you for contributing!

[2022-01-02 15:43] #360 closed

[2022-01-26 13:48] MartinSchmidt123 commented on #295
I can confirm that this is still an issue.
But the workaround works great.

[2022-01-27 17:23] zulrang commented on #348
Honestly, the project shouldn't be associated with Django at all, as it doesn't depend on Django, nor does it really have any Django-specific behavior from what I can tell.

[2022-01-28 15:39] arturponinski opened #362 "Support prefix in environ.Env"
Sometimes it is desirable to be able to prefix all environment variables. pydantic offers this in this manner:
[code]
Ideally, something like this can be implemented:
[code]

[2022-02-02 19:29] cvipul commented on #271
I have upgraded the django-environ library and also using the syntax provided in documentation here - https://django-environ.readthedocs.io/en/latest/tips.html#escape-proxy

django-environ==0.8.1
python==3.8

.env file :
ESCAPED_VAR="\\$asasd"

.py file :
env = environ.Env()
env.escape_proxy=True
env.str('ESCAPED_VAR')

But facing the same error:
[code]

Looks like the error comes even before we c

[2022-02-02 19:40] cvipul commented on #271
Apparently I cannot use quotes ("") to encase the ESCAPED_VAR in env file.
Once I remove the quotes from env file, it works perfectly.

@sergeyklay - Should this also be mentioned in the documentation?

[2022-02-06 21:10] ecugol commented on #362
Just thought about the same thing. Could be very useful for multiple apps running on the same env.

[2022-02-19 03:12] jayvdb opened #365 "mypy support"
When I run mypy, I get

[2022-02-26 15:05] joke2k opened #366 "*** @sergeyklay is afk due to war in Ukraine ***"
The actual maintainer of django-environ, @sergeyklay, is not available to handle new issues or pull requests.

We all would like to think that he is well but busy going to a safe place during this war.
I personally tried to contact him throught all channels but he didn't reply yet.

I'll keep you updated with this issue and meanwhile, I try to help with issues and PR.

🙏

[2022-03-02 20:57] kkutayozgun opened #369 "UnicodeDecodeError: 'ascii' codec can't decode"
I have an error when I run server with wsgi

I am using python3.6 and Django3.2.

I tried both django-environ==0.8.1 and django-environ==0.7.0

[code]

[2022-03-06 21:03] Deadlooks opened #370 "Django, Import "environ" could not be resolved"
`from pathlib import Path

import environ # it is the problem its not importing

env = environ.Env(
    DEBUG = [bool, False]
)

environ.Env.read_env()`

### **Please help me to fix it!**

I did pip3 install django-environ

**in terminal when i do python3
import environ
It is importing perfectly but not in django?**

**_Note:_** I am not using any virtual environment,

[2022-03-06 21:28] Deadlooks commented on #370
### **Thank you for all who ever visited to this issue!**

i have resolve this issue

The issue was that i have kept spaces in between the env file showen as bellow

in env file
DEBUG = True
SECRET_KEY = *************

fixed it by
DEBUG=True
SECRET_KEY=*********
:)
even tho it show pylance error but it just pylance that cannot resolve! as shown in the image
![Screenshot_2022-03-07_02_45_11](https:

[2022-03-12 12:05] uri-rodberg opened #371 "Officially support Django 4.0 on PyPI"
PyPi only lists support of `django-environ` to Django <= 3.2 . I would like to see `django-environ` officially supporting Django 4.0 on PyPi.

[2022-03-12 20:08] SDF39679 commented on #91
Also found this problem +1

[2022-03-16 08:31] sebastian-philipp opened #372 "django-stubs doesn't play well with django-environ: raises ImproperlyConfigured: Set the SECRET_KEY environment variable"
# x-post to django-stubs: https://github.com/typeddjango/django-stubs/issues/877

[code]

I get the approach of the django-stubs mypy plugin to execute the `settings.py` and I like the approach of django-environ to read settings from the environment.

How can we combine both?

My workaround right now looks like so:

[code]

[2022-03-16 09:13] raisultan opened #373 "Support for complex types"
Is there any way to properly handle nested dicts or lists inside a dict?

[2022-04-07 20:51] ccapudev commented on #373
Define ENV_VAR type str and load with eval func.
![image](https://user-images.githubusercontent.com/13970636/162297724-a601a6a1-bf41-4292-af7c-6a747751684e.png)

other "crazy" way, use pickle and set ENV_VAR with base64 value.

[2022-04-13 05:26] jayvdb commented on #362
This is a feature of `environs` which is quite handy.
https://github.com/sloria/environs#handling-prefixes

[2022-04-14 22:26] mlissner commented on #86
I ran into this bug too. I haven't read all of `environ`'s source code, but for us this happened because we had a setting configured using `env.Path`, and then we had it overridden in a django test via a decorator, like so:

[code]

Something about that combination made the built in `env.path` thing try to compare one of its `Path` objects with a str, which failed, as in the first comment.

The so

[2022-04-15 15:34] mlissner commented on #197
This looks like a dup or at least is heavily related to #86

[2022-04-19 00:20] jayvdb opened #382 "Detect mismatched default data type"
The following does not raise an error:

[code]

`SECRET_KEY` will be the default value of type `str`.

When someone tries to override the default, it will break.

[2022-04-19 00:41] jayvdb commented on #382
I notice that `get_value` (and `__call__`) has an argument `parse_default=False` - switching this to default to `True` may solve the problem.

However, that caused the tests for `bytes()` to fail, and one other odd error in `test_schema`.  I'll play around with these first.

[2022-04-19 11:07] jayvdb commented on #220
https://github.com/joke2k/django-environ/pull/383 is for tips.rst ; after that, this issue is probably done.

[2022-04-24 16:55] marnikow opened #385 "Support django-mailer as email backend"
In the Django Docs there is a [reference](https://docs.djangoproject.com/en/4.0/topics/auth/default/#django.contrib.auth.views.PasswordResetView) to [django-mailer](https://github.com/pinax/django-mailer/). Currently django-mailer is not a supported email backend scheme.

I would lik to see environ support this backend. Therefore I'll create a pull request :)

[2022-05-02 07:39] zyzzyxdonta opened #387 "Casting for tuples"
I think there is something wrong with casting tuples to the right types. Here is an example:

[code]

This returns `('0', 'Test')`, i.e. a tuple of strings.

I tried casting it with a lambda which should be possible according to #54:

[code]

But this returns an error:

[code]

Is there a way to do this without accepting the string and casting it to int myself?

[2022-05-06 05:02] awbacker opened #388 "`email_url` uses `unquote_plus` which breaks paswords/usernames with `+` in them"
When using `email_url`, if your username or password includes a `+` then this logic will unquote that plus, breaking the value.

AWS SES passwords **can and do** have `+` in them.

The config should be updated to use only proper `%` escaping via `unquote()`.

If there really is a a space in your password then I don't think that `%20` is too much to ask there.  Considering SES is so widespread this

[2022-05-06 14:14] awbacker commented on #388
I ended up with this code, just for reference:
[code]

[2022-05-16 02:42] xblitz commented on #356
good job, any chance to create a Pull-Request for this?

[2022-06-13 16:36] sergeyklay commented on #366
Ok, I have access to my laptop. The war continues, but I'm safe (although I don't have as much free time as before)

[2022-06-13 16:36] #366 closed

[2022-06-13 17:52] sergeyklay commented on #220
Fixed in [`develop` branch](https://github.com/joke2k/django-environ/pull/374). Thank you for the report and for helping us make django-environ better. And I am sorry about the delay.

[2022-06-13 22:31] sergeyklay commented on #86
This is on my plans, but right now I don't have enough time for that. I'll try to return to this topic a bit later

[2022-06-13 23:16] sergeyklay commented on #373
[code]

[code]

[2022-06-13 23:16] #373 closed

[2022-06-13 23:19] sergeyklay commented on #371
Implemented in #376. Thank you for opening issue and I'm sorry for the delay.

[2022-06-13 23:19] #371 closed

[2022-06-14 01:16] sergeyklay commented on #387
This is not entirely a bug and unfortunately at this stage it is not so easy to simplify the workaround but there is a working example:

[code]

The issue is that after you define a function to cast:

[code]

Lambda get untouched string:

https://github.com/joke2k/django-environ/blob/bdc48f5abe2fd4370b5d0988bb8dd2feb7afc0d1/environ/environ.py#L457-L458

We can't parse `value` before because we act

[2022-06-14 01:36] sergeyklay commented on #369
Could you please provide a small example to reproduce?

[2022-06-14 01:39] #370 closed

[2022-06-14 01:44] sergeyklay commented on #372
As far as I can tell, this issue is related to typeddjango/django-stubs. I'm closing this issue but if I have made an oversight, please do get back in touch. Thanks

[2022-06-14 01:44] #372 closed

[2022-06-14 20:44] sergeyklay commented on #387
I don't know how this will help you, but here are some more ideas. It remains only to implement something like `quote_nonnumeric(x)` to make `'(42, "Test")'` from `'(42, Test)'`:

Using [ast.literal_eval()](http://docs.python.org/library/ast.html#ast.literal_eval):
[code]

The shortest one:
[code]

[2022-06-14 20:44] #387 closed

[2022-06-14 22:22] sergeyklay commented on #147
I'm closing this issue since this is very old report and I was unable to reproduce described issue, but if I have made an oversight, please do get back in touch.  Thanks.

[2022-06-14 22:22] #147 closed

[2022-06-15 00:03] #197 closed

[2022-06-15 09:00] sergeyklay opened #393 "Deprecate LDAP support"
The current LDAP URL Schema parsing does not work well. It can't even handle canonical RFC examples, let alone be capable of validation.

Given that the maintainers of this project are not strong in this area, and that there are more professional solutions for parsing LDAP URLs, I want to suggest deprecating and removing LDAP parsing support from the project.

The responsibility of the project sho

[2022-06-16 14:53] DanielAlderman commented on #369
Hi Sergey,

I have ran into this issue today also.

I am using Django 4.0.3 and django-environ 0.9.0

I have found the issue to be the inclusion of the £ GBP symbol in my environment variables.

Example .env:
[code]

settings.py:
[code]

If I attempt to use this, I get the following error:

[code]
EXAMPLE='Â£'
[code]

[2022-06-16 15:07] kkutayozgun commented on #369
Hi Sergey,

Daniel is right. I think my issue was caused by SECRET_KEY variable
generated by django startproject. But I was not sure about which chars are
wrong, so I could not reply.

Also is # char is wrong for comment usage? I removed all of the # chars in
.env file.

Thanks.

DanielAlderman ***@***.***>, 16 Haz 2022 Per, 17:54 tarihinde
şunu yazdı:

[2022-06-16 15:11] sergeyklay commented on #369
Thank you! I'll try to sort out ASAP.

[2022-06-16 20:51] sergeyklay commented on #356
Implemented in https://github.com/joke2k/django-environ/pull/397. Thank you for contributing!

[2022-06-16 20:51] #356 closed

[2022-06-19 14:15] sergeyklay commented on #89
As far as I understand this functionality is already covered by the documentation. I'm closing this issue but if I have made an oversight, please do get back in touch. Thanks

[2022-06-19 14:15] #89 closed

[2022-06-27 13:33] wimfeijen opened #403 ""Invalid line" error when line starts with spaces and then a comment follows"
We use comments, nested with 4 spaces. This works fine in environ 0.4.5 , but now generates an error in environ 0.9.0:

in both .env and the error message, 4 spaces preceed the hashtag. Sorry, I did not succeed in finding the right way to enter four spaces in this edit field.

Thanks for looking into this!

[2022-06-28 08:42] sergeyklay commented on #403
@wimfeijen Could you please provide a small .env to reproduce this issue?

[2022-06-29 21:33] jnm opened #404 "`url()` does not return a `ParseResult` when using empty string default value"
https://django-environ.readthedocs.io/en/latest/api.html#environ.Env.url indicates that `url()` returns a `urllib.parse.ParseResult`, but sometimes it can return a `str`:
[code]
Contrast with the behavior for an empty (but set) environment variable:
[code]
Usually, I want to call `geturl()` immediately on the result of `url()`, and it would be convenient if this worked consistently instead of some

[2022-07-01 13:43] grabov opened #406 "Support all database options"
Now only base options are supported. Like

[code]

But it would be great to support other options too.

[2022-07-07 20:38] #404 closed, assigned to sergeyklay

[2022-07-07 20:46] sergeyklay commented on #406
Could you help me by sending a PR? I just don't have the bandwidth for this :)

[2022-07-20 13:00] WhyNotHugo opened #409 "0.9.0 yields bogus results for Redis"
`env.cache()` yields results with `django_redis.cache.RedisCache`, on Django 4.0, whereas it should be returning `django.core.cache.backends.redis.RedisCache`.

I see this was fixed in develop via https://github.com/joke2k/django-environ/pull/397, but that was merged AFTER 0.9.0 was released, and 0.9.0 was marked as compatible with Django 4+.

It seems the order of things got mixed up in the relea

[2022-07-20 22:25] sergeyklay commented on #409
@WhyNotHugo Thank you for the report, and for helping make django-environ better. Could you help me by sending a path? I just don't have the bandwidth for this :)

[2022-07-20 22:27] sergeyklay commented on #409
I'll try to release next version ASAP, thank you for the report, and for helping us make django-environ better.

[2022-07-21 08:59] esseti opened #410 "Default for keys in dictionary"
With dict we can set defaults
[code]

now, the default are used IFF the entry `MYVAR` is not present in the `.env` file.
if i've an entry of this type `MYVAR=ACTIVE:True;` the result is a dictionary  that is `{"ACTIVE":"True"}`

wouldn't be better to apply the default for all the keys that are not specified in the env? thus, in my example i would get
`{"ACTIVE":"True", "URL": "http://example.com"}

[2022-07-22 19:54] salaxieb commented on #271
Hi everyone
following helped me: with my `pas$word`
using double $

export PASSWORD='pas$$word'

[2022-08-11 22:59] jeverling opened #412 "default should be used when DATABASE_URL is empty string and default is set"
When `DATABASE_URL == ""`, django-environ will return an empty dict if the `default` argument has been passed.
If the variable doesn't exist, the `default` argument is correctly used.

E.g. consider this:

[code]

When `DATABASE_URL` is not set:

[code]

When `DATABASE_URL` is set to empty string: `{'default': {}}`

I think it would be better if an empty string for `DATABASE_URL` value would lead

[2022-08-22 07:58] lorddaedra opened #413 "Add support for CONN_HEALTH_CHECKS and OPTIONS"
Hello!

How to convert my config to django-environ? I'm worry about CONN_HEALTH_CHECKS and OPTIONS.

[code]

Names like `CONN_MAX_AGE` are hardcoded in https://github.com/joke2k/django-environ/blob/main/environ/environ.py#L132-L137...

[2022-08-25 00:40] karthicraghupathi commented on #270
Here is another article that compares a lot of packages providing this functionality: https://xiang.dev/python-env-vars/

I guess the biggest difference is `django-environ` also helps you cast values to a particular data type but `python-dotenv` doesn't.

[2022-08-25 06:46] shaheem-pp commented on #76
But I still have the issue

[2022-09-02 10:11] r4victor opened #415 "`interpolate` flag functionality is not implemented"
I did `SECRET_KEY = env('DJANGO_SECRET_KEY')` and got the error:

[code]

This is becuase my `DJANGO_SECRET_KEY` starts with the dollar sign:

[code]

There was a number of issues for this problem: #284, #60, #271.

Eventually, #333 somewhat solved the issue by allowing to escape the dollar sign. But this is not the best approach for generated values such as secret keys. The better option would be

[2022-09-04 07:07] uri-rodberg opened #416 "Officially support Django 4.1 on PyPI"

[2022-09-08 22:20] macmichael01 opened #417 "What's the proper way to define and call a boolean var"
In my .env file I have defined:
[code]
Should this be defined with `1,0, true,false, True,False, on,off`?

In my settings file:
[code]

[2022-09-11 22:15] ebridges commented on #415
It does appear to work albeit in a limited fashion, e.g. here's the example from the docs, plus the use case I'm looking for (embedding db credentials into a db url).  The example from the docs works but the URL case does not.  Given that the word `interpolate` only occurs in the documentation in the code base, it seems that it's relying on some kind of implicit behavior.

[code]

[2022-09-12 07:59] r4victor commented on #415
@ebridges, `interpolate=True` seems to work because interpolation is a default behaviour. Try calling `environ.Env()` or `environ.Env(interpolate=False)` and you'll get the same result.

[2022-09-12 10:23] ebridges commented on #415
Yes I agree.  Because I needed this functionality I have simply switched to use `python-dotenv` which offers that.

[2022-09-16 11:32] denys-pidlisnyi commented on #413
https://github.com/joke2k/django-environ/pull/418

[2022-09-17 14:04] jeriox commented on #409
Any news on this? Would love to use the new backend as well

[2022-09-20 07:29] sergeyklay commented on #413
Implemented in https://github.com/joke2k/django-environ/pull/https://github.com/joke2k/django-environ/pull/418. Thank you for contributing!

[2022-09-20 11:42] sergeyklay commented on #413
Feel free to make a PR :)

[2022-10-07 11:01] sylvainletourneau opened #421 "Any plan to support embedded variables?"
I was wondering if there has been discussions/plans to support embedded variables in .env file.  For example,
[code]
I got used to the ${VAR_NAME} syntax as it is supported by docker-compose and python-dotenv among others.   It would be great to get the same support in django-environ. I'm aware of the interpolate feature which covers a more limited use case.

Would that be useful to anyone else?

[2022-10-11 07:20] fdemmer commented on #421
This is already supported, but with different synthax: https://django-environ.readthedocs.io/en/latest/tips.html?highlight=proxy#proxy-value

Although it might not work as expected, there were a number of issues discussing it:
- https://github.com/joke2k/django-environ/issues?q=is%3Aissue+proxy+is%3Aclosed
- and an open one: https://github.com/joke2k/django-environ/issues/415

[2022-10-12 14:07] guesswh0 opened #423 "Secret support"
There is case when it is required to read envs from files e.g. kubernetes mounted secret volume:

[code]

I would be happy to see such enhancement!

[2022-10-12 15:10] sylvainletourneau commented on #421
The link provided refers to the proxy feature.  This feature allows us to associate a specific value to various variable names.  I'm looking for a more generic solution in which the variable definition can include one or more other variables along with additional text.   This would allow us to re-use the content of one or more variables to create a new variable, while the current implementation on

[2022-10-27 15:56] kevinrenskers commented on #266
That would be really nice to have. As I workaround I did it like this, but hopefully there's a better solution?

[code]

[2022-10-27 18:58] steynvl commented on #354
I don't think putting quotation marks around the keys is valid, so I think this is expected behaviour. If I am wrong though, then maybe I can implement this as an enhancement?

[2022-10-30 10:19] xarick opened #424 "I have the .env working on my computer but when I deploy it doesn't work?"
my code

from pathlib import Path
import environ
import os

BASE_DIR = Path(__file__).resolve().parent.parent
env = environ.Env()
environ.Env.read_env()

SECRET_KEY = env('SECRET_KEY')

DEBUG = env('DEBUG')

ALLOWED_HOSTS = [env('ALLOWED_HOSTS')]

.env file

SECRET_KEY='keykeykeykeykeykeykeykeykeykeykeykeykeykeykeykey'
DEBUG=True

ALLOWED_HOSTS='*'

[2022-10-30 10:26] xarick commented on #424
I found the solution

instead of this code
# environ.Env.read_env()

I posted this
environ.Env.read_env(os.path.join(BASE_DIR, '.env'))

but the above code is working locally

[2022-10-30 10:26] #424 closed

[2022-11-03 18:48] #199 closed

[2022-11-08 15:35] axelkolo commented on #86
t

[2022-11-09 09:32] andreasnuesslein opened #426 "help needed?"
hello @joke2k

I would like to offer help, because we heavily use this package and we would be interested in its further development.

It seems like right now you might not have so much time, hence: let me know if I can assist.

cheers

[2022-11-11 19:31] fpuga commented on #231
Just in case someone is looking for a different solutions this is what I'm doing (based on the test: `test_empty_list`):

env file:
[code]

seetings.py:
[code]

This set an empty list '[]'  as the value of `ALLOWED_HOST` in `seetings.py` that is  the default value.